<h1>
    Analysis Context
</h1>
<form #analysisContextForm="ngForm" (ngSubmit)="save()"  class="form-horizontal">
    <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label" for="migrationPath">Migration Path</label>
            <div class="col-md-6">
                <select
                        #migrationPath="ngModel"
                        name="migrationPath"
                        [(ngModel)]="analysisContext.migrationPath.id"
                        ngControl="migrationPath"
                        [ngClass]="{'has-error': hasError(migrationPath)}"
                        required
                        id="migrationPath"
                        class="form-control"
                >
                    <option *ngFor="let migrationPath of migrationPaths | async" [value]="migrationPath.id">{{migrationPath.name}}</option>
                </select>
                <span [class.hidden]="!hasError(migrationPath)" class="help-block">
                    A migration path must be specified.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="includePackageID">Include Packages</label>
            <div class="col-md-4">
                <div *ngFor="let includePackage of packages; let i = index;" class="input-group">
                    <input #includePackageControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="includePackage.prefix"
                        ngControl="includePackageControl"
                        maxlength="200"
                        type="text"
                        id="includePackageID"
                        class="form-control">
                    <span *ngIf="i != (packages.length - 1)" class="input-group-btn">
                        <button *ngIf="packages.length > 1" (click)="removeScanPackage(i)" class="btn " type="button">-</button>
                    </span>
                    <span *ngIf="i == (packages.length - 1)" class="input-group-btn">
                        <button *ngIf="packages.length > 1" (click)="removeScanPackage(i)" class="btn " type="button">-</button>
                        <button (click)="addScanPackage()" class="btn " type="button">+</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="excludePackageID">Exclude Package</label>
            <div class="col-md-3">
                <div *ngFor="let excludePackage of excludePackages; let i = index;" class="input-group">
                    <input #excludePackageControl="ngModel"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="excludePackage.prefix"
                           ngControl="excludePackageControl"
                           maxlength="200"
                           type="text"
                           id="excludePackageID"
                           class="form-control">
                    <span *ngIf="i != (excludePackages.length - 1)" class="input-group-btn">
                        <button *ngIf="excludePackages.length > 1" (click)="removeExcludePackage(i)" class="btn " type="button">-</button>
                    </span>
                    <span *ngIf="i == (excludePackages.length - 1)" class="input-group-btn">
                        <button *ngIf="excludePackages.length > 1" (click)="removeExcludePackage(i)" class="btn " type="button">-</button>
                        <button (click)="addExcludePackage()" class="btn " type="button">+</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button [disabled]="!analysisContextForm.form.valid" class="btn btn-primary" type="submit">Save</button>
                <button [disabled]="loading" (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</form>
