<h1>
    Application List
    <button (click)="registerApplication()" class="btn btn-primary" type="button">Register Application</button>
</h1>
<h3 *ngIf="errorMessage != null">{{errorMessage}}</h3>
<table class="datatable table table-striped table-bordered">
    <thead>
    <tr>
        <th>Application</th>
        <th>Processing Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let app of applications">

        <td class="col-md-3">{{app.inputFilename}}</td>
        <td class="col-md-7">
            <div class="col-fixed-240">
                <span *ngIf="!status(app).started">
                    Not Started
                </span>
                <span *ngIf="status(app).completed">
                    Done
                </span>
                <div *ngIf="status(app).started && !status(app).completed">
                    <progress-bar
                            [taskName]="status(app).currentTask"
                            [currentValue]="status(app).workCompleted"
                            [minValue]="0"
                            [maxValue]="status(app).totalWork"></progress-bar>
                </div>
            </div>
        </td>
        <td class="col-md-2">
            <button class="btn btn-default btn-md" (click)="executeAnalysis(app)" *ngIf="!status(app).started || status(app).completed" aria-label="Execute Windup">
                <span class="glyphicon glyphicon-play"></span>
                Execute
            </button>
            <a *ngIf="status(app).completed" class="btn btn-default btn-md" target="_blank" href="{{reportURL(app.outputPath)}}">
                <span class="glyphicon glyphicon-file"></span>
                View Report
            </a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    // Initialize Datatables
    $(document).ready(function () {
        $('.datatable').dataTable();
    });
</script>
