<h1>{{labels.heading}}</h1>
<form [formGroup]="registrationForm" (ngSubmit)="register()"  class="form-horizontal">
    <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
    </div>

    <div class="row" [ngSwitch]="mode">
        <div class="form-group">
            <label class="col-md-2 control-label" for="fileUpload">Mode</label>
            <div class="col-md-6">
                <select [ngModel]="mode" (change)="modeChanged($event.target.value)" [ngModelOptions]="{standalone: true}">
                    <option value="UPLOADED">Upload</option>
                    <option value="PATH">Register Server Path</option>
                </select>
            </div>
        </div>
        <div *ngSwitchCase="'PATH'" class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('inputPath'))}">
            <label class="col-md-2 control-label" for="fileUpload">Upload Application</label>
            <div class="col-md-6">
                <input
                        [(ngModel)]="fileInputPath"
                        formControlName="inputPath"
                        type="text"
                        id="textInput"
                        class="form-control">
                <span [class.hidden]="!hasError(registrationForm.get('inputPath'))" class="help-block">
                    The input path must exist on the server.
                </span>
            </div>
        </div>
        <div *ngSwitchCase="'UPLOADED'" class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('fileUpload'))}">
            <label class="col-md-2 control-label" for="fileUpload">Upload Application</label>
            <div class="col-md-6">
                <input id="fileUpload" type="file" multiple="multiple" ng2FileSelect [uploader]="multipartUploader" class="form-control" name="files" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary" type="submit">{{labels.submitButton}}</button>
                <button (click)="cancelRegistration()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</form>
