<div class="container-fluid wu-frame">
    <h1>{{title}}</h1>
    <form #projectForm="ngForm" (ngSubmit)="save()" class="form-horizontal wizard-form">
        <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{errorMessage}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="idProjectTitle">* Name</label>
            <input #projectTitleControl="ngModel" name="projectTitle" id="idProjectTitle" [(ngModel)]="model.title" required wuProjectNameNotUsed
                type="text" placeholder="my-project" class="form-control">
            <p class="help-block">A unique name for the project</p>
            <span [class.hidden]="!titleIsDuplicated(projectTitleControl)" class="help-block">
                The name must be unique
            </span>
            <span [class.hidden]="titleIsDuplicated(projectTitleControl) || !hasError(projectTitleControl)" class="help-block">
                The name must be greater than 3 characters long and fewer than 128 characters.
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="idDescription">Description</label>
            <textarea name="description" id="idDescription" class="form-control" placeholder="A short description of project" [rows]="getDescriptionHeight()"
                #controlDescription="ngModel" [(ngModel)]="model.description"></textarea>
            <span [class.hidden]="!hasError(controlDescription)" class="help-block">
                The description must contain fewer than 4096 characters.
            </span>
        </div>
        <div class="form-group pull-right">
            <button (click)="cancel()" type="button" class="btn btn-default" i18n="Cancel button">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="!projectForm.form.valid">
                {editMode ? 'true' : 'false', select, true {Update Project} false {Next}}
            </button>
        </div>

    </form>
</div>
