<div class="blank-slate-pf" style="border: none;">
    <h1 i18n="no projects page Header" style="margin-bottom: 1.4ex;">
        Welcome to the Web Console.
    </h1>
    <div class="welcome-help-text">

        <p i18n="no projects page text 1" style="margin-bottom: 0.2ex;">
            Red Hat Application Migration Toolkit helps you to quickly assess and perform large-scale application migrations and modernizations.
        </p>
        <p i18n="no projects page text 2">
            Create a project for your applications.
        </p>
    </div>

    <div class="blank-slate-pf-main-action">
        <a (click)="newProjectClicked()" class="clickable btn btn-primary btn-lg" i18n="no projects page Button">New Project</a>
    </div>

    <div class="welcome-help-text">
        <ng-container i18n="Docs link text, 1st part">To learn more, visit the </ng-container>
        <a target="_blank" href="https://access.redhat.com/documentation/en-us/red_hat_application_migration_toolkit/" i18n="Docs link text, link">documentation</a>.
    </div>
</div>
