<div class="blank-slate-pf">
    <h1 i18n="Header">
        Welcome to the Red Hat Application Migration Toolkit Web Console.
    </h1>
    <div class="blank-slate-pf-main-action">
        <a (click)="newProjectClicked()" class="clickable btn btn-primary btn-lg" i18n="Button">New Project</a>
    </div>

    <div class="welcome-help-text">
            <ng-container i18n="Intro text, 1st part">To learn more, visit the</ng-container>
            <a href="https://github.com/windup/windup-web/blob/master/README.md">
                <ng-container i18n="Intro text, 2nd part">Red Hat Application Migration Toolkit Web Console Documentation</ng-container>
            </a>.
    </div>
</div>
