<div class="blank-slate-pf" style="border: none;">
    <h1 i18n="Header">
        Welcome to the Web Console.
    </h1>
    <div class="welcome-help-text">
        <ng-container i18n="Intro text, 1st part">
            Red Hat Application Migration Toolkit helps you quickly analyse, assess, modernize and migrate applications.<br/>
            Create a project for your applications.
        </ng-container>
    </div>
    <div class="blank-slate-pf-main-action">
        <a (click)="newProjectClicked()" class="clickable btn btn-primary btn-lg" i18n="Button">New Project</a>
    </div>

    <div class="welcome-help-text">
            <ng-container i18n="Intro text, 2nd part">To learn more, visit the toolkit </ng-container>
            <a href="http://red.ht/rhamtgettingstarted">
                <ng-container i18n="Intro text, 2nd part">documentation</ng-container>
            </a>.
    </div>
</div>
