a { cursor: pointer; }

table.migration-issues-table { margin-bottom: 0; }
table.migration-issues-table > thead > tr > th:first-child { text-align: left; }
table.migration-issues-table > thead > tr > th             { text-align: right; }
table.migration-issues-table > tbody > tr > th:first-child,
table.migration-issues-table > tbody > tr > td:first-child { text-align: left; }
table.migration-issues-table > tbody > tr > th,
table.migration-issues-table > tbody > tr > td             { text-align: right; }
