/* Files subtable */
a { cursor: pointer }

table { margin-bottom: 0; border: 1px solid #e7e7e7; }
table tbody td { background: #fffff5 !important; } /* A very subtle yellow tint. */

table.filesDetails > thead > tr > th.fileName { text-align: left; }
table.filesDetails > thead > tr > th.hint     { text-align: left; }
table.filesDetails                th          { text-align: right; }
table.filesDetails > tbody > tr > td.fileName,
table.filesDetails > tbody > tr > td.hint     { text-align: left; }
table.filesDetails > tbody > tr > td          { text-align: right; }

table.filesDetails > tbody > tr > td.hint .panel-title     { font-weight: 600; line-height: 1.66; }
table.filesDetails > tbody > tr > td.hint .description     { }
