$context-menu-background-color: #30363D;

.nav-pf-vertical {
  background: $context-menu-background-color;
}

.nav-pf-vertical li {
  border-bottom: 1px solid #050505;
  border-top: 1px solid rgba(255,255,255,0.04);
}
