<div class="hamburger-menu hamburger-menu-collapse-1 collapse ">
    <div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary visible-xs">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of enabledItems"
                wu-context-menu-link
                [item]="item"
                wu-is-route-active
                [activeClasses]="['active']"
                [wuRouterLink]="item.link"
            >
                <span class="fa" ngClass="{{item.icon}}" data-toggle="tooltip" title="" [attr.data-original-title]="item.label" router-mode></span>
                <span class="list-group-item-value" router-mode>{{item.label}}</span>

                <span class="fa" ngClass="{{item.icon}}" data-toggle="tooltip" title="" [attr.data-original-title]="item.label" absolute-mode></span>
                <span class="list-group-item-value" absolute-mode>{{item.label}}</span>
            </li>
        </ul>
    </div>
</div>
