.nav-item {
  font-size: 10px;
  color: #9c9c9c;
  position: absolute;
  top: 8px;
}

$dropdown-select-color: #dbdada;
$dropdown-hover-color: #383f47;
$dropdown-active-item-color: #00a8e1;

$navbar-background-color: #292E34;
$navbar-os-project-menu-active-bg: #1e2126;
$navbar-os-project-menu-active-color: #fcfcfc;
$navbar-os-project-menu-border: #050505;


.dropdown-menu {
  background-color: $navbar-os-project-menu-active-bg;
  border-color: $navbar-os-project-menu-border;
  color: $dropdown-select-color;
  margin-top: 0;
  padding: 0;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu li a {
  color: $dropdown-select-color;
  padding: 10px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  display: block;
  clear: both;
  font-weight: 400;

  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;

  line-height: 1.6;
  white-space: nowrap;

  &:hover {
    background-color: $dropdown-hover-color;
  }

  &:focus {
    background-color: inherit;
  }
}

.dropdown-menu li.activated-item a:after {
  content: '';
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  background-color: $dropdown-active-item-color;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 70vh;
}

/*
  TODO: These are scrollbar styles. They currently work only in Google Chrome,
        so there is probably no point of using them now.
.log-view.log-fixed-height ::-webkit-scrollbar-thumb,.navbar-project-menu ::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,.25);-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,.1),inset 0 -1px 0 rgba(255,255,255,.07);box-shadow:inset 1px 1px 0 rgba(255,255,255,.1),inset 0 -1px 0 rgba(255,255,255,.07);}
.log-view.log-fixed-height ::-webkit-scrollbar-thumb:active,.log-view.log-fixed-height ::-webkit-scrollbar-thumb:hover,.navbar-project-menu ::-webkit-scrollbar-thumb:active,.navbar-project-menu ::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,.35)}
.log-view.log-fixed-height ::-webkit-scrollbar-track,.navbar-project-menu ::-webkit-scrollbar-track{background-color:#050505}
.log-view.log-fixed-height ::-webkit-scrollbar{width:17px}
.log-view.log-fixed-height ::-webkit-scrollbar-track{background-color:rgba(255,255,255,.1)}
*/

/*
//
// navbar-alt (top bar with project menu and utility nav)
// ------------------------------------------------------
.navbar-pf-alt {
  background: $navbar-background-color;
  border-bottom: 1px solid $sidebar-os-border-color;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 0;
  min-height: inherit;
  .layout-pf-alt-fixed & {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $zindex-navbar-fixed;
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 9px 14px;
    @media (max-width: $screen-xxs-max) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .navbar-header {
    .flex(columns: 1 1 0%);
    .flex-display(display: flex);
    text-decoration: none;
    .navbar-home {
      .align-items($align: center);
      .flex(columns: 1 0 0%);
      .flex-display(display: flex);
      .justify-content(justify: center);
      // remove ie prefixes when PostCSS Autoprefixer is included for github issue #7559
      -ms-flex-align: center;
      -ms-flex-pack: center;

      color: $sidebar-os-color;
      font-weight: 300;
      text-decoration: none;
      .pficon {
        color: #A8A9AA;
        font-size: 20px;
      }
      &:hover, &:focus, &:hover .pficon, &:focus .pficon {
        background-color: $navbar-os-project-menu-active-bg;
        color: $navbar-os-project-menu-active-color;
      }
    }
  }
  .nav.navbar-iconic {
    margin-right: 20px;
    .dropdown-menu {
      margin-top: -10px;
      right: -5px;
      &:after {
        border: 6px solid transparent;
        border-bottom-color: #fff;
        border-top-width: 0;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 7px;
        top: -6px;
        vertical-align: middle;
        width: 0;
      }
    }
  }
  .navbar-brand {
    border: 0;
    height: auto;
    margin-left: 0;
    padding: 0 0 0 10px;
    position: relative;
  }
  .navbar-toggle {
    border: 0;
    display: block;
    float: left;
    &:hover, &:focus {
      .icon-bar {
        background: $navbar-pf-alt-navbar-toggle-icon-bar-hover-bg;
      }
    }
    + .navbar-brand {
      margin-left: 0;
    }
    .icon-bar {
      background: $navbar-pf-alt-color;
    }
  }
  .nav .nav-item-iconic {
    // utiltity links
    cursor: pointer;
    line-height: 1;
    max-height: none;
    padding-top: $navbar-padding-vertical;
    padding-bottom: $navbar-padding-vertical;
    position: relative;
    color: $navbar-pf-alt-color;
    margin-right: 0;
    .username, .status-issue {
      display: inline-block;
      font-weight: 300;
      line-height: 1.4; // so letter descenders aren't clipped
      max-width: 100px;
      padding: 0 2px;
      position: relative;
      top: -2px;
    }
    &:hover, &:focus {
      background-color: transparent;
      color: $navbar-pf-alt-active-color;
      text-decoration: none;
      .caret, .fa, .glyphicon, .pf-icon {
        color: $navbar-pf-alt-active-color;
      }
    }
    .caret, .fa, .pf-icon {
      color: $navbar-pf-alt-color;
      font-size: $font-size-base + 4;
      width: auto;
    }
    .caret {
      font-size: $font-size-base;
      height: 12px;
    }
    .status-icon {
      padding-right: 2px;
    }
  }
  .open > .nav-item-iconic {
    &, &:hover, &:focus {
      background: transparent;

      .caret, .fa, .pf-icon {
        color: $navbar-pf-alt-active-color;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  #header-logo {
    height: $navbar-os-header-height-desktop;
  }
  .navbar-pf-alt .nav .nav-item-iconic {
    display: block;
    padding: 21px 14px;
  }
}

// System status
.navbar-pf-alt {
  .system-status-mobile {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
      background: $sidebar-os-border-color;
      height: 100%;
    }
    .status-icon {
      font-size: initial;
    }
    .status-issue {
      display: none;
    }
  }
  .system-status {
    @media (max-width: $screen-xs-max) {
      &.project-action-btn {
        padding: 0;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      .status-issue {
        display: none;
      }
    }
  }
}

.navbar-flex-btn {
  position: relative;
  .project-action-btn {
    color: $navbar-os-project-menu-color;
    font-weight: 300;
    text-decoration: none;
    .align-items($align: center);
    .flex($columns: 1 0 0%);
    .justify-content(justify: center);
    // remove ie prefixes when PostCSS Autoprefixer is included for github issue #7559
    -ms-flex-align: center;
    -ms-flex-pack: center;

    width: 100%; // fix ie10 issue
    &:hover {
      background-color: $navbar-os-project-menu-active-bg;
      color: $navbar-os-project-menu-active-color;
    }
    // inset borders
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 1px;
      background: $sidebar-os-border-inset-color;
      height: 100%;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: -1px;
    }
  }
  .navbar-toggle.project-action-btn:before {
    // remove inset border
    width: 0;
  }
}

@media (max-width: $screen-xs-max) {
  .layout-pf-alt-fixed .navbar-pf-alt {
    position: absolute;
    .navbar-brand:after {
      content: '';
      background: $sidebar-os-border-color;
      display: block;
      height: 100%;
      left: -1px;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
  .top-header.logged-out {
    .toggle-menu {
      display: none;
    }
  }
  .navbar-flex-btn {
    .flex($columns: 0 0 50px);
    a {
      color: lighten($navbar-os-project-menu-color, 20%);
      cursor: pointer;
      .flex-display($display: flex);
      font-size: 18px;
      &:hover, &:active, &:focus {
        background-color: $sidebar-os-active-bg;
        color: $navbar-os-project-menu-color;
      }
    }
  }
}

@media (max-width: $screen-xxs-max) {
  .navbar-flex-btn {
    .flex($columns: 0 0 40px);
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-pf-alt {
    .navbar-header {
      height: 60px;
      width: ($sidebar-left-width-md - $navbar-header-offset);
      .navbar-brand {
        padding: 0;
        margin-left: 30px;
        margin-right: 75px;
        margin-top: 0;
      }
    }
  }
  .navbar-iconic {
    .username {
      // Enable username truncation
      display: inline-block;
      line-height: 1.3;
      margin-bottom: -3px; // prevent font descenders from being clipped
      max-width: 100px;
    }
  }
  .navbar-flex-btn {
    &.toggle-menu {
      display: none;
    }
    &.project-action {
      .flex($columns: 0 0 120px);
      .project-action-btn {
        border-right: 1px solid $navbar-os-project-menu-border;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .navbar-pf-alt {
    .navbar-iconic {
      .username {
        max-width: 150px;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .navbar-pf-alt {
    .navbar-header {
      width: ($sidebar-left-width-md - $navbar-header-offset);
    }
    .navbar-iconic {
      .username {
        max-width: 200px;
      }
    }
  }
}
@media (min-width: $screen-xlg-min) {
  .navbar-pf-alt {
    .navbar-header {
      width: ($sidebar-left-width-lg - $navbar-header-offset);
      .navbar-home {
        .justify-content($justify: flex-start);
        // remove ie prefixes when PostCSS Autoprefixer is included for github issue #7559
        -ms-flex-pack: start;

        font-size: $font-size-base + 1;
        margin-top: 0;
        padding-left: 20px;
        .pficon {
          .primary-nav-icon-xl();
        }
        .visible-xlg-inline-block {
          margin-left: 3px;
        }
      }
    }
  }
}
*/

