$navbar-text-color: #d1d1d1;  // OpenShift uses this one: #72767b;

$navbar-background-color: #292E34;
$navbar-hover-item-background-color: #1e2126;
$navbar-active-item-background-color: #292E34;

$dropdown-select-color: #dbdada;
$dropdown-hover-color: #383f47;
$dropdown-active-item-color: #00a8e1;

$navbar-os-project-menu-active-color: #fcfcfc;
$navbar-os-project-menu-border: #050505;

.navbar-pf {
  border-top: 0;
}

li.home a {
  width: 200px;
//  border-bottom: 1px black solid;
  border-right: 1px solid $navbar-os-project-menu-border;

  color: $navbar-text-color;

  background-color: transparent;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 63px;
  line-height: 26px;
  outline: 0;
  padding: 17px 20px 17px 25px;
  position: relative;
  white-space: nowrap;
}

span.pficon-home {
  font-size: 20px;
  float: left;
  line-height: 26px;
  margin-right: 10px;
  text-align: center;
  width: 24px;
}

:host /deep/ {
 .navbar-pf .navbar-primary {
   background-color: $navbar-background-color;
   background-image: initial;
   border-bottom: 1px solid $navbar-os-project-menu-border;
 }

  .navbar-primary > li {
    height: 60px;
    margin-top: 0;
  }

  .navbar-primary li a {
    height: 100%;
    padding-top: 24px;
  }

  .navbar-pf .navbar-primary > li > a:hover,
  .navbar-pf .navbar-primary > .open > a {
    background-image: initial;
    background-color: $navbar-hover-item-background-color;
    border-top-color: transparent;
  }
}

#header-logo {
  /* background-image: url('../../../../img/Logotype_RH_AMT_RGB_White.svg'); */
  height: 60px;
  padding-left: 30px;
}

#header-logo strong {
  text-transform: uppercase;
}

#header-logo-wrapper a {
  font-size: 18px;
  vertical-align: middle;
  line-height: 60px;

  color: $navbar-text-color;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.pficon {
  font-size: 17px;
}

.navbar-pf .navbar-nav>li>a.dropdown-toggle {
  padding: 21px 14px;

  &:hover {
    color: #fff !important; // patternfly uses important, must override it
  }
}

/* replace wrong patternfly styles: */
/*@media (min-width: 768px) {
  .navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user {
    left: initial;
    top: initial;
  }
}
*/
.navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user {
  left: initial;
  top: initial;
  position: inherit;
}

ul.navbar-utility {
  margin-right: 20px;
}

.navbar-pf .navbar-utility > li > a {
  border: none;

  &:hover {
    background: none;
  }
}

.username {
  display: inline-block;
  font-weight: 300;
  line-height: 1.4;
  max-width: 100px;
  padding: 0 2px;
  position: relative;
  top: -2px;
  margin-bottom: -3px;
  font-size: 13px;
}

@media (max-width: 767px) {
  #header-logo-wrapper {
    line-height: initial;
  }

  #header-logo {
    height: auto;
  }
}
