:host /deep/ {
  @media (max-width: 1599px) {
    .nav-pf-vertical, .navbar-primary li.home a {
      width: 145px;
    }

    .navbar-primary li.home a span:first-child {
        text-align: center;
    }

    .navbar-primary li.home a span:nth-child(2) {
        display: none;
    }

    .navbar-primary li.home a {
      display: flex;
      flex: 1 0 0;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .nav-pf-vertical .list-group-item > a .fa {
      display: none;
    }
  }

  @media (min-width: 1600px) {
    .nav-pf-vertical .list-group-item > a .fa {
      display: inline-block;
    }
  }
}
