:host /deep/ {
  @media (max-width: 1599px) {
    .nav-pf-vertical, .navbar-primary li.home a {
      width: 240px;
    }
  }

  @media (min-width: 1600px) {
    .nav-pf-vertical .list-group-item > a .fa {
      display: inline-block;
    }
  }

  @media (max-width: 767px) {
    .navbar.navbar-default {
      position: relative;
    }
  }
}
