.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
*.iml
*.ipr
*.iws
*.swp
*.orig
/*/src/main/java/META-INF
.gitignore.swp
docs/reference/src/main/docbook/en-US/version_info.xml
.idea
.forge_settings
.factorypath
atlassian-ide-plugin.xml
.externalToolBuilders
npm-debug.log
log.txt
nb-configuration.xml
nbactions.xml
services/lib
/ui/src/test/javascript/
/ui/src/main/webapp/typings
/ui/src/main/webapp/tests/unmarshaller/typescriptModels/
/ui/src/main/webapp/src/app/tsModels/
/ui/src/main/webapp/src/app/generated/
.vscode
services/run_many.sh
