    <div class="about-page">
        <div class="about-header">
            <div class="about-bar">
                <h1><span i18n="About page header">About</span> <span i18n="windup.brand.long">Red Hat Application Migration Toolkit</span></h1>
            </div>
        </div>


        <!-- -->
        <div class="container surface-shaded gutter-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="about">
                        <div class="row">
                            <div class="col-md-2 about-icon gutter-top hidden-sm hidden-xs">
                                <img src="/img/rhamt-square-248.png">
                            </div>
                            <div class="col-md-9">
                                <h1>Red Hat Application Migration Toolkit <span class="about-reg">®</span></h1>
                                <h2>About</h2>
                                <p><a target="_blank" href="https://windup.jboss.org">Application Migration Toolkit</a> is Red Hat's toolkit that allows developers to quickly decompile, analyze, assess, and migrate legacy applications from various Java EE platforms to JBoss EAP.</p>
                                <h2 id="version">Version</h2>
                                <dl class="dl-horizontal left">
                                    <dt>Red Hat Application Migration Toolkit Core:</dt>
                                    <dd class="ng-binding">Red Hat Application Migration Toolkit 3.1.0-SNAPSHOT</dd>
                                    <dt>Red Hat Application Migration Toolkit Web Console:</dt>
                                    <dd class="ng-binding">Red Hat Application Migration Toolkit 3.1.0-SNAPSHOT</dd>
                                </dl>
                                <p>
                                    The <a target="_blank" href="https://access.redhat.com/documentation/en/red-hat-jboss-migration-toolkit/">documentation</a>
                                    contains information and guides to help you learn about Red Hat Application Migration Toolkit
                                    and start exploring its features.
                                    From getting started with migration of your first application, to trying out creation of your own rules, it provides what you need to set up and use Red Hat Application Migration Toolkit.
                                </p>
                                <p>
                                    With the Red Hat Application Migration Toolkit command line interface (CLI), you can create migration reports from the terminal.
                                    To get started using the CLI, visit <a href="https://access.redhat.com/documentation/en/red-hat-jboss-migration-toolkit/">Red Hat Application Migration Toolkit Command Line Interface Console documentation</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->

        <div class="container-fluid" role="main">
            <div class="row">
                <div class="page-header page-header-no-border">
                    <h1>
                        <div class="main">About Red Hat Application Migration Toolkit</div>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="container-fluid theme-showcase" role="main">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">About Red Hat Application Migration Toolkit</h3>
                        </div>

                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Version</dt>
                                <dd></dd>
                                <dt>Follow on Twitter</dt>
                                <dd><a href="http://twitter.com/jbosswindup">@jbossWindup</a></dd>

                                <dt>Website</dt>
                                <dd><a href="http://windup.jboss.org">http://windup.jboss.org</a></dd>

                                <dt>Documentation</dt>
                                <dd><a href="https://access.redhat.com/documentation/en/red-hat-jboss-migration-toolkit/">https://access.redhat.com/documentation/en/red-hat-jboss-migration-toolkit/</a></dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>GitHub Source</dt>
                                <dd><a href="https://github.com/windup/windup">https://github.com/windup/windup</a></dd>

                                <dt>GitHub Wiki</dt>
                                <dd><a href="https://github.com/windup/windup/wiki">https://github.com/windup/windup/wiki</a></dd>

                                <dt>Discussion Forum</dt>
                                <dd><a href="https://community.jboss.org/en/windup?view=discussions">https://community.jboss.org/en/windup</a></dd>

                                <dt>Mailing List</dt>
                                <dd><a href="https://lists.jboss.org/mailman/listinfo/windup-dev">https://lists.jboss.org/mailman/listinfo/windup-dev</a></dd>

                                <dt>Issues Tracking</dt>
                                <dd><a href="https://issues.jboss.org/browse/WINDUP">https://issues.jboss.org/browse/WINDUP</a></dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="container-fluid theme-showcase" role="main">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contributors</h3>
                        </div>
                        <div class="panel-body">
                            <div id="windup-contributors"></div>
                            <p class="windup-contributors small">A special <strong>thanks</strong> to our contributors!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
