<style>
    dl.versions dt { width: 340px; }
    dl.versions dd { margin-left: 360px; }
</style>

<div class="about-page">

    <div class="container surface-shaded gutter-top">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <div class="row">
                        <div class="col-md-2 about-icon gutter-top hidden-sm hidden-xs">
                            <!-- Leave this here, we will eventually get a graphical logo.
                            <img src="../../../img/rhamt-square-248.png" width="172" style="margin-top: -12px;">
                            -->
                        </div>
                        <div class="col-md-9">
                            <div class="">
                                <img src="../../../img/rhamt-3lines-gray.svg" width="35%">
                            </div>

                            <h2>About</h2>
                            <p>
                                <a target="_blank" href="https://developers.redhat.com/products/rhamt/overview/">Red Hat Application Migration Toolkit</a>
                                allows application architects and developers to quickly decompile, analyze, assess
                                and modernize large scale application portfolios and migrate them to Red Hat Middleware, cloud and containers.
                            </p>

                            <h2 id="version">Version</h2>
                            <dl class="dl-horizontal left versions">
                                <dt>Red Hat Application Migration Toolkit Core</dt>
                                <dd class="ng-binding">
                                    {{versionWindupCore}}
                                    <ng-container *ngIf="versionWindupCore.indexOf('SNAPSHOT') != -1">
                                        (<a target="_blank" [href]="'https://github.com/windup/windup/tree/' + scmRevisionWindupCore">git revision</a>)
                                    </ng-container>
                                </dd>

                                <dt>Red Hat Application Migration Toolkit Web Console</dt>
                                <dd class="ng-binding">
                                    {{versionWindupWeb}}
                                    <ng-container *ngIf="versionWindupWeb.indexOf('SNAPSHOT') != -1">
                                        (<a target="_blank" [href]="'https://github.com/windup/windup-web/tree/' + scmRevisionWindupWeb">git revision</a>)
                                    </ng-container>
                                </dd>  <!-- This will show $MAVEN_TOKEN{project.version} during development, but work from a .war. -->
                            </dl>
                            <p>
                                The <a target="_blank" href="https://access.redhat.com/documentation/en-us/red_hat_application_migration_toolkit/">documentation</a>
                                contains information to help you learn about Red Hat Application Migration Toolkit
                                and start exploring its features.
                                From migrating your first application to creating your own rules, it provides what you need to set up and use Red Hat Application Migration Toolkit.
                            </p>

                            <h2>Links</h2>

                            <dl class="dl-horizontal">
                                <dt>Follow on Twitter</dt>
                                <dd><a target="_blank" href="https://twitter.com/jbosswindup">@JBossWindup</a></dd>

                                <dt>Website</dt>
                                <dd><a target="_blank" href="https://developers.redhat.com/products/rhamt/overview/">https://developers.redhat.com/products/rhamt/overview/</a></dd>

                                <dt>Documentation</dt>
                                <dd><a target="_blank" href="https://access.redhat.com/documentation/en-us/red_hat_application_migration_toolkit/">https://access.redhat.com/documentation/en-us/red_hat_application_migration_toolkit/</a></dd>
                            </dl>

                            <dl class="dl-horizontal">
                                <dt>GitHub Source</dt>
                                <dd><a target="_blank" href="https://github.com/windup/windup">https://github.com/windup/windup</a></dd>

                                <dt>GitHub Wiki</dt>
                                <dd><a target="_blank" href="https://github.com/windup/windup/wiki">https://github.com/windup/windup/wiki</a></dd>

                                <dt>Discussion Forum</dt>
                                <dd><a target="_blank" href="https://developer.jboss.org/en/windup?view=discussions">https://developer.jboss.org/en/windup</a></dd>

                                <dt>Mailing List</dt>
                                <dd><a target="_blank" href="https://lists.jboss.org/mailman/listinfo/windup-dev">https://lists.jboss.org/mailman/listinfo/windup-dev</a></dd>

                                <dt>Issue Tracking</dt>
                                <dd><a target="_blank" href="https://issues.jboss.org/browse/WINDUP">https://issues.jboss.org/browse/WINDUP</a></dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
