<div class="chosen-container chosen-container-single"
     [class.chosen-container-active]="chosenContainerActive"
     [class.chosen-with-drop]="chosenWithDrop">

    <a (click)="chosenFocus()"  class="chosen-single"
       [class.chosen-single-with-deselect]="!isSelectionEmpty() && allow_single_deselect"
       [class.chosen-default]="isSelectionEmpty()">
                <span [ngSwitch]="isSelectionEmpty()">
                    <span *ngSwitchCase="true">
                        {{placeholder_text_single}}
                    </span>
                    <span *ngSwitchCase="false">
                        {{singleSelectedOption.label}}
                    </span>
                </span>
        <abbr *ngIf="!isSelectionEmpty() && allow_single_deselect"
              (click)="deselectOption(singleSelectedOption , $event)" class="search-choice-close">
        </abbr>
        <div><b></b></div>
    </a>

    <div class="chosen-drop"
         [disableSearch]="isSearchDisabled()"
         [no_results_text]="no_results_text"
         [display_selected_options]="true"
         [filterMode]="filterMode"
         [options]="dropOptions" [groups]="_groups"
         (optionSelected)="selectOption($event)"
         (inputKeyUp)="inputKeyUp($event)"
         (inputBlur)="chosenBlur()"></div>
</div>
