<div *ngIf="!disableSearch" class="chosen-search">
    <input (blur)="onInputBlur()" (keyup)="onInputKeyup($event.target.value)" [(ngModel)]="inputValue" #chosenInput type="text" autocomplete="off">
</div>
<ul class="chosen-results">
    <ng-template ngFor let-option [ngForOf]="_options" let-i="index">

        <li *ngIf="showGroup(option,i)" class="group-result">{{option.groupObject.label}}</li>
        <li [class.highlighted]="option.highlighted"
            [class.result-selected]="isOptionSelected(option)"
            [class.active-result]="!isOptionSelected(option) || display_selected_options"
            (mouseover)="highlight(option)"
            (mouseout)="unHighlight(option)"
            (mousedown)="selectOption(option)">
            <span [innerHtml]="getOptionLabel(option)"></span>
        </li>

    </ng-template>
    <li *ngIf="filterMode && _options == null" class="no-results">{{no_results_text}} "<span>{{inputValue}}</span>"</li>
</ul>
