<div class="chosen-container chosen-container-multi"
     [class.chosen-container-active]="chosenContainerActive"
     [class.chosen-with-drop]="chosenWithDrop">

    <ul class="chosen-choices">

        <template [ngIf]="multipleSelectedOptions != null">
            <template ngFor let-option [ngForOf]="multipleSelectedOptions" let-i="index">
                <li class="search-choice" [class.search-choice-focus]="option.focus" >
                    <span>{{option.label}}</span>
                    <a class="search-choice-close" (click)="deselectOption(option, $event);"></a>
                </li>
            </template>
        </template>

        <li class="search-field">
            <input #chosenInput type="text"
                   [(ngModel)]="inputValue"
                   [class.default]="isSelectionEmpty()"
                   (click)="chosenFocus()"
                   (blur)="chosenBlur()"
                   (keyup)="multipleInputKeyUp($event)"
                   autocomplete="off"/>
        </li>
    </ul>

    <div  class="chosen-drop"
          [disableSearch]="true"
          [no_results_text]="no_results_text"
          [display_selected_options]="false"
          [filterMode]="filterMode"
          [options]="dropOptions" [groups]="_groups"
          (optionSelected)="selectOption($event)"></div>

</div>
