<wu-modal-dialog #modalDialog>
    <span header>Add Labels</span>
    <form [formGroup]="addLabelsPathForm" body>
        <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
        <wu-tab-container (tabSelected)="onTabSelected($event)">
            <wu-tab [tabTitle]="'Upload'" [properties]="{mode: 'UPLOADED'}">
                <div class="form-group upload-queue">
                    <div class="col-md-12">
                        <wu-uploaded-items-list
                                [getLabel]="getLabelNameCallback"
                                [uploadedItemsList]="uploadedLabels"
                                (deleteItem)="confirmDeleteLabel($event)"

                        ></wu-uploaded-items-list>
                        <wu-alternative-upload-queue [uploader]="multipartUploader"></wu-alternative-upload-queue>
                    </div>
                </div>
                <div class="form-group description">
                    <div class="col-md-10">
                        <div i18n="Upload Description Text">
                            Choose labels to upload. You can select more than one file at a time.
                            You can also drag and drop files to start uploading.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="btn btn-primary upload-button">
                            <input id="fileUpload" type="file" ng2FileSelect class="form-control" name="files"
                                   [attr.multiple]="isAllowUploadMultiple ? true : null"
                                   [uploader]="multipartUploader"
                                   style="position: fixed; top: -10000px;">
                            <span i18n="Choose Files Button">Choose files</span>
                        </label>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': hasError(addLabelsPathForm.get('fileUpload'))}" style="margin-bottom: 0;">
                    <div class="col-md-12">
                        <div ng2FileDrop [uploader]="multipartUploader" class="well filesDropArea">
                            <strong i18n="Drag & Drop box description">Drop files here.</strong>
                        </div>
                    </div>
                </div>
            </wu-tab>
            <wu-tab [tabTitle]="'Server Path'" [properties]="{mode: 'PATH'}">
                <div class="form-group" [ngClass]="{'has-error': hasError(addLabelsPathForm.get('inputPathControl'))}">
                    <label class="control-label" for="addLabelsPathInput" i18n>Labels path (server-side file or directory)</label>
                    <input
                            formControlName="inputPathControl"
                            type="text"
                            id="addLabelsPathInput"
                            class="form-control"
                            placeholder="/opt/labels or /opt/labels/my-labels.rhamt.label.xml"
                    >
                    <div i18n="Path input help">
                        Path to the server-side file or directory containing the labels.
                    </div>
                    <span [class.hidden]="!hasError(addLabelsPathForm.get('inputPathControl'))" class="help-block" i18n="Custom server-side labelset path error">
                        The path must exist on the server.
                    </span>
                </div>
                <div class="form-group">
                    <input formControlName="scanRecursivelyControl" type="checkbox" id="scanRecursively" class="scanRecursively">
                    <label class="control-label" for="scanRecursively" i18n>Scan recursively (if it is a directory)</label>
                    <div i18n="Checkbox help">
                        If checked and given path is a directory, the subdirectories will also be scanned for labelsets.
                    </div>
                </div>
            </wu-tab>
        </wu-tab-container>
    </form>
    <div footer>
        <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
        <button type="button" [disabled]="!isFormValid()" class="btn btn-primary" (click)="submitForm()">Add</button>
    </div>
</wu-modal-dialog>
