<ul *ngIf="registeredApplications?.length > 0" class="app-list">
    <li *ngFor="let application of registeredApplications">
        <div class="progress">
            <div class="progress-bar success"
                 role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                 style="width: 100%">
                <div class="file-info">
                    <span>{{application.title}}</span>
                    <span class="file-size">({{ application.fileSize / 1024 / 1024 | number:'.2' }} MB)</span>
                </div>
                <div class="action-button">
                    <span class="pointer" (click)="confirmDeleteApplication(application)">
                        <i class="glyphicon fa fa-trash-o"></i>
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>


<wu-confirmation-modal #deleteAppDialog [id]="'deleteAppDialog'"></wu-confirmation-modal>
