<div class="container-fluid wu-frame">
<h1 i18n="Add Applications to Project">Add Applications</h1>

<form [formGroup]="registrationForm" (ngSubmit)="register()"  class="form-horizontal" ng2FileDrop [uploader]="multipartUploader">

    <wu-tab-container (tabSelected)="onTabSelected($event)">
        <wu-tab [tabTitle]="'Upload'" [properties]="{mode: 'UPLOADED'}">
            <div class="row description">
                <div class="col-md-10">
                    <div i18n="Upload Description Text">
                        Choose files to upload to your project. You can select more than one file at a time. You can
                        also drag and drop files to start uploading.
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="btn btn-primary upload-button">
                        <input id="fileUpload" type="file" ng2FileSelect class="form-control" name="files"
                               [attr.multiple]="isAllowUploadMultiple ? true : null"
                               [uploader]="multipartUploader"
                               style="position: fixed; top: -10000px;">
                        <span i18n="Choose Files Button">Choose files</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <h4 i18n>Upload queue</h4>
                    <wu-upload-queue *ngIf="isAllowUploadMultiple" [uploader]="multipartUploader"></wu-upload-queue>

                    <h4 i18n>Upload progress</h4>
                    <wu-upload-progressbar [uploader]="multipartUploader"></wu-upload-progressbar>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('fileUpload'))}" style="margin-bottom: 0;">
                <div class="col-md-12">
                    <div ng2FileDrop [uploader]="multipartUploader" class="well filesDropArea">
                        <strong i18n="Drag & Drop box description">Drop files here.</strong>
                    </div>
                </div>
            </div>

        </wu-tab>
        <wu-tab [tabTitle]="'Server Path'" [properties]="{mode: 'PATH'}">
            <div class="row description">
                <div class="col-md-12">
                    <label for="appPathToRegister" i18n="Server Path Description">Enter the server path containing your project applications.</label>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('appPathToRegister'))}">
                <div class="col-md-12">
                    <input [(ngModel)]="fileInputPath" id="appPathToRegister" formControlName="appPathToRegister"
                           type="text"
                           class="form-control" />
                    <span [class.hidden]="!hasError(registrationForm.get('appPathToRegister'))" class="help-block" i18n="Path Error">
                            The input path must exist on the server.
                    </span>
                </div>
            </div>
            <div class="form-group"  *ngIf="isAllowUploadMultiple">
                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            <input [(ngModel)]="isDirWithApps" formControlName="isDirWithAppsCheckBox" type="checkbox" i18n="Directory Contains Multiple Apps">
                            <ng-container i18n="Directory Help Text">Directory Contains Multiple Apps</ng-container>
                        </label>
                        <div class="description" i18n="Directory Contains Multiple Apps Help Text">
                            If box is checked, the given path will be treated as a directory with multiple
                            applications. Otherwise, the path will be treated as a single application.
                        </div>
                    </div>
                </div>
            </div>
        </wu-tab>
    </wu-tab-container>

    <!-- Errors -->
    <div *ngFor="let errorMessage of errorMessages" class="form-errors alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{errorMessage}}
    </div>

    <div class="form-group">
        <div class="col-md-offset-10 col-md-2">
            <div class="button-container">
                <button (click)="cancelRegistration()" type="button" class="btn btn-default">{{isInWizard ? 'Back' : 'Cancel'}}</button>
                <button [attr.disabled]="!isValid" class="btn btn-primary" type="submit">{{isInWizard ? 'Next' : 'Save'}}</button>
            </div>
        </div>
    </div>

</form>
</div>
