.project-context-page__component__page-section {
  padding: 10px 0px !important;
}

.project-context-page__component__content {
  padding: 0 10px;
}

.project-context-page__component__divider {
  margin-top: 10px !important;
}
