.blank-slate-pf {
    height: 436px;
    background-color: transparent;
    border: 0;
    padding: 80px 60px;
}

.blank-slate-pf .blank-slate-pf-icon {
    font-size: 40px;
}

.blank-slate-pf h1 {
    font-size: 20px;
    margin-top: 0px;
}
