<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="card-pf">
            <div class="card-pf-heading">
                <h2 class="card-pf-title">Custom labels</h2>
            </div>
            <div class="card-pf-body" style="min-height: 397px;">
                <tabset>
                    <tab heading="Uploaded">
                        <wu-uploaded-labels-path *ngIf="!loading"
                                [labelsPath]="uploadedLabelsPath"
                                [initialSelectedRows]="selectedUploadedLabelsPath"
                                (onSelectionChange)="onUploadedLabelsPathSelectionChange($event)"
                                (onAddLabelsPathRequest)="displayAddLabelsPathModal($event)"
                                (onDeleteLabelsPathRequest)="displayRemoveLabelsConfirmationModal($event)">
                        </wu-uploaded-labels-path>
                    </tab>
                    <tab heading="Server Path">
                        <wu-server-path-labels
                                [labelsPath]="serverPathLabelsPath"
                                [initialSelectedRows]="selectedServerPathLabels"
                                (onSelectionChange)="onServerPathLabelsSelectionChange($event)"
                                (onAddLabelsPathRequest)="displayAddLabelsPathModal($event)"
                                (onDeleteLabelsPathRequest)="displayRemoveLabelsConfirmationModal($event)">
                        </wu-server-path-labels>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div *ngIf="value?.length > 0; else noCustomLabelsSelected" class="card-pf" style="padding: 0;">
            <div class="card-pf-body">
                <select [(ngModel)]="labelsPathForUnselect"
                        class="form-control"
                        multiple
                        size="7"
                        style="border: 0; box-shadow: none; height: 374px; overflow-x: auto; overflow-y: auto;">
                    <option *ngFor="let item of value" [value]="item" style="padding-left:15px;">
                        {{item.shortPath || item.path}}
                    </option>
                </select>
            </div>
            <div class="card-pf-footer" style="margin: 0 !important; min-height: 60px;">
                <p>
                    <a *ngIf="labelsPathForUnselect.length > 0" (click)="unselect(labelsPathForUnselect)" href="javascript:void(0);"><span class="fa fa-angle-double-left"></span> Unselect</a>
                </p>
            </div>
        </div>
        <ng-template #noCustomLabelsSelected>
            <div class="card-pf" style="padding: 0;">
                <div class="card-pf-body">
                    <div class="blank-slate-pf">
                        <div class="blank-slate-pf-icon">
                            <span class="pficon pficon pficon-info"></span>
                        </div>
                        <h1>
                            No custom labels selected
                        </h1>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<wu-add-labels-path-modal
        [project]="project"
        [configuration]="configuration"
        (configurationSaved)="loadCustomLabels($event)">
</wu-add-labels-path-modal>
<wu-confirmation-modal
        #removeLabelsConfirmationModal
        [id]="'deleteLabelsConfirmationDialog'"
        [title]="'Confirm Label Removal'"
        [body]="'Are you sure you want to remove the labels from ...?'">
</wu-confirmation-modal>