.sort-field {
  cursor: pointer;
}

.sort-direction-button {
  color: #222;
  font-size: 16px;
  line-height: 1;
  padding: 4px 0;
  margin-left: 10px;

  &:hover {
    color: #0099d3;
  }
}

.sort-label {
  margin-right: 6px;
  padding-top: 3px;
}
