<h1>
    Analysis Context
</h1>
<h1 *ngIf="!applicationGroup">Loading...</h1>
<form *ngIf="applicationGroup" #analysisContextForm="ngForm" (ngSubmit)="save()"  class="form-horizontal">
    <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label" for="migrationPath">Migration Path</label>
            <div class="col-md-6">
                <select
                        #migrationPath="ngModel"
                        name="migrationPath"
                        [(ngModel)]="analysisContext.migrationPath.id"
                        ngControl="migrationPath"
                        [ngClass]="{'has-error': hasError(migrationPath)}"
                        required
                        id="migrationPath"
                        class="form-control"
                >
                    <option *ngFor="let migrationPath of migrationPaths | async" [value]="migrationPath.id">{{migrationPath.name}}</option>
                </select>
                <span [class.hidden]="!hasError(migrationPath)" class="help-block">
                    A migration path must be specified.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Include Packages</label>
            <div class="col-md-4">
                <wu-js-tree-wrapper
                        [treeNodes]="packageTree"
                        [(selectedNodes)]="analysisContext.includePackages"
                >
                </wu-js-tree-wrapper>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Exclude Package</label>
            <div class="col-md-3">
                <wu-js-tree-wrapper
                        [treeNodes]="packageTree"
                        [(selectedNodes)]="analysisContext.excludePackages">
                </wu-js-tree-wrapper>
            </div>
        </div>
        <wu-custom-rule-selection [selectedRulePaths]="analysisContext.rulesPaths" (selectedRulePathsChanged)="rulesPathsChanged($event)"></wu-custom-rule-selection>
        <div class="form-group">
            <label class="col-md-2 control-label">Advanced Options</label>
            <div class="col-md-6">
                <wu-analysis-context-advanced-options
                        [(selectedOptions)]="analysisContext.advancedOptions"
                        (advancedOptionsChanged)="advancedOptionsChanged($event)"
                        [configurationOptions]="configurationOptions"
                        #advancedOptionsModal>
                </wu-analysis-context-advanced-options>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button *ngIf="isInWizard" [disabled]="!analysisContextForm.form.valid" class="btn btn-primary" (click)="saveAndRun()">Save & Run</button>
                <button [disabled]="!analysisContextForm.form.valid" class="btn btn-primary" (click)="save()">Save Configuration</button>
                <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</form>
