<h1>
    Windup Configuration

    <button class="btn btn-primary" (click)="displayAddRulesPathForm()">
        <span class="glyphicon glyphicon-plus"></span>
        Register Custom Rule Path
    </button>
    <button class="btn btn-primary" (click)="reloadConfiguration()">Force Reload Configuration</button>
</h1>

<template [ngIf]="configuration != null && configuration.rulesPaths != null && configuration.rulesPaths.length > 0">
    <div class="panel-group">
        <div *ngFor="let rulePath of configuration.rulesPaths" id="rulePathPanel_{{rulePath.id}}" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" [attr.data-parent]="'#rulePathPanel_' + rulePath.id" href="#collapse_{{rulePath.id}}">
                        Rules: {{rulePath.rulesPathType == "SYSTEM_PROVIDED" ? "&lt;System Rules&gt;" : rulePath.path}}
                    </a>
                </h2>
            </div>

            <div id="collapse_{{rulePath.id}}" class="panel-body panel-collapse collapse">
                <a (click)="removeRulesConfirmationModal.show($event)" *ngIf="rulePath.rulesPathType != 'SYSTEM_PROVIDED'" href="#">
                    <span class="glyphicon glyphicon-trash"></span>
                    Unregister Rules
                </a>

                <confirmation-modal
                        #removeRulesConfirmationModal
                        id="deleteRulesConfirmation_{{rulePath.id}}"
                        title="Unregister Rules?"
                        body="Unregister rules from Windup?"
                        (confirmed)="removeRulesPath(rulePath)"
                >
                </confirmation-modal>

                <div *ngIf="!hasFileBasedProviders(rulePath)">
                    <h3>This path contains no rules!</h3>
                </div>

                <div *ngIf="rulePath.loadError">
                    <h3>{{rulePath.loadError}}</h3>
                </div>

                <table class="datatable table table-striped table-bordered" *ngIf="hasFileBasedProviders(rulePath)">
                    <thead>
                    <tr>
                        <th>Provider ID</th>
                        <th>Provider Location</th>
                        <th>Sources</th>
                        <th>Targets</th>
                        <th>Rule Count</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template ngFor let-ruleProvider [ngForOf]="ruleProvidersByPath.get(rulePath)">
                        <tr *ngIf="isFileBasedProvider(ruleProvider)">
                            <td>
                                {{ruleProvider.providerID}}
                            </td>
                            <td>
                                {{ruleProvider.origin}}
                            </td>
                            <td>
                                <div *ngFor="let source of ruleProvider.sources">
                                    <technology [technology]="source"></technology>
                                </div>
                            </td>
                            <td>
                                <div *ngFor="let target of ruleProvider.targets">
                                    <technology [technology]="target"></technology>
                                </div>
                            </td>
                            <td>
                                {{ruleProvider.rules ? ruleProvider.rules.length : 0}}
                            </td>
                            <td>
                                <a href="#" (click)="displayRules(ruleProvider, $event)">Rules</a>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<rules-modal></rules-modal>
<add-rules-path-modal [configuration]="configuration" (configurationSaved)="configurationUpdated($event)"></add-rules-path-modal>
