<div class="form-group">
    <label class="col-md-2 control-label" for="customRulesetPaths">Custom Ruleset selection</label>
    <div class="col-md-6">
        <button (click)="selectAll()">Select all</button>
        <button (click)="clearSelection()">Clear all</button>
        <select multiple
                name="customRulesetPaths"
                [(ngModel)]="selectedRuleIDs"
                id="customRulesetPaths"
                class="form-control"
                >
            <option *ngFor="let ruleset of rulesPaths" [ngValue]="ruleset.id">
                {{ruleset.path}}
            </option>
        </select>
    </div>
</div>
