<div class="panel-body">

    <wu-active-executions-progressbar [activeExecutions]="activeExecutions"></wu-active-executions-progressbar>

    <h2>Group {{group?.title || "loading..."}}</h2>

    <table class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>Application</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="group">
            <tr *ngFor="let app of group.applications">
                <td> {{app.title}} </td>
                <td>
                    <button class="btn btn-default" (click)="editApplication(app)"> Edit </button>
                    <button class="btn btn-danger" (click)="deleteApplication(app)">
                        {{app.registrationType == "UPLOADED" ? "Delete" : "Remove"}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="registerApplication(group)" class="btn btn-primary" type="button">Register Application</button>
</div>
