<h1>
    {{project?.title}} - Groups
    <button (click)="createGroup()" class="btn btn-primary" type="button">Create Group</button>
</h1>
<p *ngIf="errorMessage != null">{{errorMessage}}</p>

<table class="table table-condensed table-hover">
<thead><tr>
    <td>Group name</td>
    <td>Applications</td>
    <td>Actions</td>
</tr></thead>
<tbody>
    <tr *ngFor="let group of groups" class="group">
        <td class="title">
            <a href="#" (click)="onClickGroup(group)">{{group.title}}</a>

            <a *ngIf="!group.readOnly" href="#" (click)="editGroup(group, $event)">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
        <td class="apps">
            <span *ngFor="let app of group.applications; let i = index;">{{i > 0 ? "," : ""}} {{app.title}}</span>
        </td>
        <td class="actions">
            <a [routerLink]="['/analysis-context-form', { groupID: group.id }]">Edit Analysis Configuration</a>
            <span *ngIf="groupReportURL(group) != null">
                |
                <a target="_blank" href="{{groupReportURL(group)}}">
                    View Report
                </a>
            </span>
            <span *ngIf="group.applications.length > 0">
                |
                <a (click)="runWindup($event, group)" href="#">Run Windup</a>
            </span>
            <div>
                <div *ngIf="status(group).state == 'STARTED'">
                    <progress-bar
                            [taskName]="status(group).currentTask"
                            [currentValue]="status(group).workCompleted"
                            [minValue]="0"
                            [maxValue]="status(group).totalWork"></progress-bar>
                </div>
            </div>
        </td>
    </tr>

</tbody>
</table>

<!--
<div *ngIf="groupSelected">
    <h3>{{groupSelected.title}}</h3>
    <wu-group *ngIf="groupSelected" [group]="groupSelected"></wu-group>
</div>
-->
