<div class="panel-body">
    <table class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>Application</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of group.applications">
                <td> {{app.title}} </td>
                <td>
                    <a *ngIf="app.reportIndexPath != null" class="btn btn-default btn-md" target="_blank" href="{{reportURL(app)}}">
                        <span class="glyphicon glyphicon-file"></span> View Report
                    </a>
                    <button class="btn btn-default" (click)="editApplication(app)"> Edit </button>
                    <button class="btn btn-danger" (click)="deleteApplication(app)">
                        {{app.registrationType == "UPLOADED" ? "Delete" : "Remove"}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="registerApplication(group)" class="btn btn-primary" type="button">Register Application</button>
</div>
