<h1>{{title}}</h1>
<form #projectForm="ngForm" (ngSubmit)="save()" class="form-horizontal project-edit">
    <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label" for="idProjectTitle">Project Title</label>
            <div class="col-md-8">
                <input #projectTitleControl="ngModel"
                       name="projectTitle"
                       [(ngModel)]="model.title"
                       required
                       minlength="1"
                       maxlength="128"
                       type="text"
                       id="idProjectTitle"
                       class="form-control">
            </div>
            <span [class.hidden]="!hasError(projectTitleControl)" class="help-block">
                The title must be greater than 3 characters long and fewer than 128 characters.
            </span>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="idDescription">Project Description</label>
            <div class="col-md-8">
                <textarea name="description" id="idDescription" class="form-control" [rows]="getDescriptionHeight()"
                        #controlDescription="ngModel"
                        [(ngModel)]="model.description"></textarea>
            </div>
        </div>
        <div class="form-group finish-buttons">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary" type="submit" [disabled]="!projectForm.form.valid" i18n="Create Project Button" >
                    Create Project
                </button>
                <button (click)="cancel()" type="button" class="btn btn-default" i81n="Cancel button">Cancel</button>
            </div>
        </div>
    </div>
</form>
