<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/project-list" href="#">
            Windup 3.0
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
            <li [class.active]="isActive(settingsLink)">
                <a #settingsLink routerLink="/configuration">Settings</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="pficon pficon-user"></span>
                    {{username}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="logout($event)" href="#">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
            <li [class.active]="isActive(projectListLink)">
                <a #projectListLink routerLink="/project-list">Home</a>
            </li>
            <li [class.active]="isActive(executionsListLink)">
                <a #executionsListLink routerLink="/executions">Executions</a>
            </li>
        </ul>
    </div>
    <wu-breadcrumbs></wu-breadcrumbs>
</nav>
