

<h1>Add an application to the group</h1>

<!-- Tabs -->
<ul id="addAppModeTabs" class="nav nav-tabs">
    <li role="presentation" (click)="changeMode('UPLOADED')" class="active">
        <a role="tab" data-toggle="tab" aria-controls="tabContentRegister" href="#tabContentRegister" title="Register application file or directory located on the server">Register server path</a>
    </li>
    <li role="presentation" (click)="changeMode('PATH')">
        <a role="tab" data-toggle="tab" aria-controls="tabContentUpload"   href="#tabContentUpload">Upload application file</a>
    </li>
</ul>


<form [formGroup]="registrationForm" (ngSubmit)="register()"  class="form-horizontal" ng2FileDrop [uploader]="multipartUploader">

    <div id="addAppsModeTabsContent" class="tab-content">
        <!-- Register tab panel -->
        <div role="tabpanel" id="tabContentRegister" class="tab-pane fade in active">
            <div class="row description">
                <div class="col-md-10">
                    <div class="alert">
                        <!-- Register an application which is accessible on the server where Windup runs. -->
                        Enter the server path containing your project applications to register in Windup.
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('appPathToRegister'))}">
                <div class="col-md-10">
                    <input  [(ngModel)]="fileInputPath" id="appPathToRegister" formControlName="appPathToRegister"
                            type="text"
                            class="form-control" />
                    <span [class.hidden]="!hasError(registrationForm.get('appPathToRegister'))" class="help-block">
                        The input path must exist on the server.
                    </span>
                </div>
            </div>
            <div class="form-group"  *ngIf="isAllowUploadMultiple">
                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            <input [(ngModel)]="isDirWithApps" formControlName="isDirWithAppsCheckBox" type="checkbox">
                            If the given path is a directory, each contained file will be treated as an application.
                        </label>
                        <div class="description">Otherwise, the whole directory will be treated as an unzipped application.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary" type="submit" (click)="changeMode('PATH')">Register the application</button>
                    <button (click)="cancelRegistration()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Upload tab panel -->
        <div role="tabpanel" id="tabContentUpload" class="tab-pane fade">

            <div class="row description">
                <div class="col-md-10">
                    <div class="alert">
                        Here you can upload an application to analyze it on the Windup server.
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': hasError(registrationForm.get('fileUpload'))}" style="margin-bottom: 0;">
                <div class="col-md-10">
                    <label class="btn btn-primary">
                        <input id="fileUpload" type="file" ng2FileSelect class="form-control" name="files"
                               [attr.multiple]="isAllowUploadMultiple ? true : null"
                               [uploader]="multipartUploader"
                               style="position: fixed; top: -10000px;">
                        <span>Select a file to upload...</span>
                    </label>
                    <div ng2FileDrop [uploader]="multipartUploader" style="border: dotted 3px lightgray;" class="well filesDropArea" style="border: 2px dashed lightgray; background-color: #FAFAFA">
                        <strong>...or drag and drop the files here.</strong>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary" type="submit" (click)="changeMode('UPLOADED')">Upload the application</button>
                    <button (click)="cancelRegistration()" type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <h4>Upload queue</h4>
                    <wu-upload-queue *ngIf="isAllowUploadMultiple" [uploader]="multipartUploader"></wu-upload-queue>

                    <h4>Upload progress</h4>
                    <wu-upload-progressbar [uploader]="multipartUploader"></wu-upload-progressbar>
                </div>
            </div>

        </div>
    </div>

    <!-- Errors -->
    <div *ngFor="let errorMessage of errorMessages" class="form-errors alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{errorMessage}}
    </div>

</form>
