<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="Rules List" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Rules for: {{ruleProviderEntity.providerID}}
                </h4>
            </div>
            <div class="modal-body">
                <table class="datatable table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Rule ID</th>
                        <th>Contents</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ruleEntity of ruleProviderEntity.rules">
                            <td>
                                {{ruleEntity.ruleID}}
                            </td>
                            <td>
                                {{ruleEntity.ruleContents}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>