<div class="search-component">
    <div class="search-pf-input-group">
        <label class="sr-only" i18n="Search label">Search</label>
        <input type="search"
               class="form-control"
               i18n-placeholder="Search label"
               placeholder="Search"
               [ngModel]="searchValue"
               (ngModelChange)="update($event)"
               name="searchValue"
        >
        <button *ngIf="searchValue && searchValue.length > 0" type="button" class="clear" aria-hidden="true" (click)="clear()">
            <span class="pficon pficon-close"></span>
        </button>
    </div>
</div>
