.mainGraphContainer .points, .projectBox .panel-body .points, .panel .panel-body .points {
    color: #00254b;
    float: left;
    text-align: center;
}
.mainGraphContainer .points .number {
    font-size: 85pt;
    width: 1.5em;
}

/* Charts */
.chartBoundary {
    width: 500px;
    margin: 20px auto;
}

.chartBoundary h4 {
    border-bottom: 1px solid #008CBA;
    margin-right: 10%;
}

.chartTD {
    padding-bottom: 10px;
}

table.summaryLayout {
    width: 100%;
}

table.summaryLayout > tr > td, table.summaryLayout > tbody > tr > td {
    margin-bottom: 2ex;
    vertical-align: top;
}

tr.projectFile {
    font-size: 12px;
}

.panel .panel-body div.points {
    color: #00254b;
    float: left;
    padding-bottom: 1ex;
    text-align: center;
}
.projectBox .panel-body .points {
    width: 24%;
    text-align: center;
}

.projectBox .panel-body .points .number {
    font-size: 65pt;
    text-align: center;
}

.panel .panel-body div.basicInfo {
    float: left;
}

#collapseAll {
    cursor: pointer;
}

#expandAll {
    cursor: pointer;
}

/* ===  Projects tree view  === */
#treeView-Projects-wrap {
    float: left;
    margin: 0px 0px 2ex 150px;
    overflow: hidden;
}

#treeView-Projects-wrap #overlayFog { display: none; }

#treeView-Projects-wrap.short #overlayFog {
    display: block;
    z-index: 10;
    position: absolute;
    width: 600px;
    height: 30px;
    margin-top:  80px;
    padding-top: 50px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */                                    xbackground-color: blue;
    text-align: right;
}

#treeView-Projects-wrap #treeView-Projects {
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    overflow: hidden;
}

#treeView-Projects-wrap.short #treeView-Projects {
    height: 130px;
    display: block;
    overflow: scroll;
}

#treeView-Projects-wrap .showButtons { z-index: 20; }
#treeView-Projects-wrap.short .showLess { display: none; }
#treeView-Projects-wrap.short .showMore { display: inherit; }
#treeView-Projects-wrap       .showLess { display: inherit; }
#treeView-Projects-wrap       .showMore { display: none; }
