<div *ngIf="activeExecutions && activeExecutions.length > 0">
    <h2 i18n="heading|Active Executions">Active Analysis</h2>
    <div>
        <ng-container *ngFor="let activeExecution of activeExecutions">
            <wu-progress-bar *ngIf="activeExecution.currentTask || activeExecutions.length == 1"
                 [taskName]="activeExecution.currentTask"
                 [currentValue]="activeExecution.workCompleted"
                 [minValue]="0"
                 [maxValue]="activeExecution.totalWork"
                 [activeExecutionId]="activeExecution.id">
            </wu-progress-bar>
        </ng-container>
    </div>
</div>
<div *ngIf="!activeExecutions || activeExecutions.length == 0">
    <h2 i18n="heading|No Active Executions">There is no Active Analysis</h2>
    Click <strong i18n="Analysis id">Run Analysis</strong> button to start a new analysis.
</div>
