<div>
    <h2 i18n="heading|Active Executions">Active Analysis</h2>
    <div *ngIf="mainExecution != null">
        <wu-progress-bar *ngIf="mainExecution.currentTask || activeExecutions.length == 1"
             [taskName]="mainExecution.currentTask"
             [currentValue]="mainExecution.workCompleted"
             [minValue]="0"
             [maxValue]="mainExecution.totalWork"
             [activeExecutionId]="mainExecution.id">
        </wu-progress-bar>
    </div>
    <div *ngIf="mainExecutions == null || mainExecutions.length == 0" class="progressbar-no-active-analysis">
        There is no active analysis.
    </div>
</div>
