<div>
    <h2 i18n="heading|Active Executions">Active Analysis</h2>
    <div *ngFor="let execution of mainExecutions">
        <wu-progress-bar
             [taskName]="execution.currentTask"
             [currentValue]="execution.workCompleted"
             [minValue]="0"
             [maxValue]="execution.totalWork"
             [activeExecutionId]="execution.id">
        </wu-progress-bar>
    </div>
    <div *ngIf="mainExecutions == null || mainExecutions.length == 0">
        There is no active analysis.
    </div>
</div>
