<wu-navbar>
    <li wu-navbar-selection
        [label]="'Project'"
        [items]="allProjects" [selectedItem]="project"
        [getItemLabel]="getProjectLabel" [getItemRoute]="getProjectRoute"
        (selectedItemChange)="navigateToProject($event)"
    ></li>
    <li wu-navbar-selection
        [label]="'Report'"
        [items]="allExecutions" [selectedItem]="execution"
        [getItemLabel]="getExecutionLabel" [getItemRoute]="getExecutionRoute"
        (selectedItemChange)="navigateToExecution($event)"
    ></li>
</wu-navbar>
<wu-context-menu [menuItems]="menuItems"></wu-context-menu>
<div class="layout-project container-fluid container-cards-pf container-pf-nav-pf-vertical nav-pf-persistent-secondary">
    <div class="row row-cards-pf notifications-row">
        <!-- wu-breadcrumbs></wu-breadcrumbs -->
        <wu-notification></wu-notification>
    </div>
    <div class="row row-cards-pf">
        <!-- Routed views go here -->
        <router-outlet></router-outlet>
    </div>
</div><!-- /container -->
