h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
}

dl {

}

dt {
  text-align: left;
}

@media (min-width: 415px) {
  dd {
    margin-left: 180px;
  }

  dt {
    float: left;
    width: 160px;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


