<wu-active-executions-progressbar [activeExecutions]="activeExecutions"></wu-active-executions-progressbar>

<h2 i18n="heading|executions list">Analysis</h2>
<table class="table table-bordered table-hover table-mobile executions-list-table">
    <thead wu-sortable-table
        [(sortedData)]="sortedExecutions"
        [data]="executions"
        [initialSortBy]="initialSort"
        [tableHeaders]="[
            { title: 'Analysis', isSortable: true, sortBy: 'id' },
            { title: 'Status', isSortable: true, sortBy: 'state' },
            { title: 'Date Started', isSortable: true, sortBy: 'timeStarted' },
            { title: 'Actions', isSortable: false }
        ]">
    </thead>
    <tbody>
    <tr *ngFor="let execution of sortedExecutions" [class]="getClass(execution)" class="execution-row">
        <td><a [routerLink]="['/projects', execution.projectId, execution.id, 'execution-details']">{{execution.id}}</a></td>
        <td>
            <wu-status-icon [status]="execution.state"></wu-status-icon>
            {{execution.state | wuPrettyExecutionStatus}}
            <span>
                <span *ngIf="execution.state == 'STARTED' || execution.state == 'QUEUED'">
                    for
                </span>
                <span *ngIf="execution.state == 'COMPLETED' || execution.state == 'FAILED'">
                    in
                </span>
                <span *ngIf="execution.timeCompleted">
                    {{(execution.timeCompleted - execution.timeStarted | wuDuration)}}
                </span>
                <span *ngIf="!execution.timeCompleted">
                    {{currentTime - execution.timeStarted | wuDuration}}
                </span>
            </span>
        </td>
        <td>{{execution.timeStarted | date: 'short'}}</td>
        <td>
            <a class="link cancel" *ngIf="canCancel(execution)" (click)="cancelExecution(execution)" i18n="button">Cancel</a>
            <!-- left for when dynamic report will be linked again
            <a
                    class="link"
                    *ngIf="execution.state == 'COMPLETED'"
                    [routerLink]="['/projects', execution.projectId, 'reports', execution.id]">View Reports</a>
            -->
            <a *ngIf="execution.state == 'COMPLETED' && execution?.analysisContext?.generateStaticReports" class="link external-link" target="_blank" href="{{formatStaticReportUrl(execution)}}">Static Report</a>
        </td>
    </tr>
    </tbody>
</table>
