<div class="panel-body" *ngIf="executions?.length == 0">
    <div class="header-bar">
        <h2>Analysis Results</h2>
    </div>

    <div  class="blank-slate-pf" style="border: none;">
        <div class="blank-slate-pf-main-action">
            <p>There are no analysis results for this project. Configure the analysis settings and run an execution.</p>
            <a [routerLink]="['/projects', project.id, 'analysis-context']"
               class="clickable btn btn-primary btn-lg"
               i18n="Configure Analysis Button">
                Configure Analysis
            </a>
        </div>
    </div>

</div>
<wu-executions-list *ngIf="executions?.length > 0"
        (reloadRequestEvent)="refreshExecutionFromRequestEvent()"
        (runExecution)="startExecution()"
        [executions]="executions"
        [activeExecutions]="activeExecutions"
        [showRunAnalysisButton]="showRunAnalysisButton">

</wu-executions-list>
