<ul class="pagination">
    <li [ngClass]="{'disabled': activePage === 1}">
        <a (click)="previous()">
            <span class="i fa fa-angle-left"></span>
        </a>
    </li>
    <li *ngFor="let page of range(countPages)" [ngClass]="{'active': activePage === page}">
        <a (click)="showPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{'disabled': activePage === countPages}">
        <a (click)="next()">
            <span class="i fa fa-angle-right"></span>
        </a>
    </li>
</ul>
