.clear {
  background: rgba(255,255,255,0);
  border: 0;
  height: 26px;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 28px;
}

.search-pf-input-group {
  position: relative;
}

.clear:focus {
  outline: 0;
}

.form-control {
  padding-right: 30px;
}
