.numeric-column {
    text-align: right;
}

table.summaryLayout {
    width: 100%;
}

table.summaryLayout > tr > td, table.summaryLayout > tbody > tr > td {
    margin-bottom: 2ex;
    vertical-align: top;
}

.highlightNumber {
    color: #00254b;
    font-size: 20pt;
    width: 1.5em;
}

.legend {
    text-align: center;
}

.analyzed-applications h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9c9c9c;
    font-size: 16px;
}

.analyzed-applications li {
    list-style: none;
}

.analyzed-applications ul {
    padding: 0;
}
