<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="card-pf">
            <div class="card-pf-heading">
                <h2 class="card-pf-title">
                    Custom rules
                </h2>
            </div>
            <div class="card-pf-body" style="min-height: 346px;">
                
                <tabset>
                    <tab heading="Uploaded" id="tab1">
                        <pfng-table
                            [actionTemplate]="actionTemplate"
                            [config]="tableConfig"
                            [columns]="columns"
                            [rows]="rows"
                            (onActionSelect)="handleAction($event)"
                            (onFilterChange)="filterChanged($event)"
                            (onFilterFieldSelect)="filterFieldSelected($event)"
                            (onFilterTypeAhead)="filterQueries($event)"
                            (onPageNumberChange)="handlePageNumber($event)"
                            (onPageSizeChange)="handlePageSize($event)"
                            (onSelectionChange)="handleSelectionChange($event)">
                        </pfng-table>

                        <!-- Column templates -->
                        <ng-template #idTemplate let-row="row">
                            <span>{{row.rulesPath.shortPath}}</span>
                        </ng-template>
                        <ng-template #sourceTargetTemplate let-row="row">                            
                            <!-- Source: <span *ngFor="let technology of row.sources">{{technology.name}}{{versionRangeSuffix}}</span> / Target: <span *ngFor="let technology of row.targets">{{technology.name}}{{versionRangeSuffix}}</span> -->
                            Source: <wu-technology-text *ngFor="let technology of row.sources" [technology]="technology"></wu-technology-text>&nbsp; Target: <wu-technology-text *ngFor="let technology of row.targets" [technology]="technology"></wu-technology-text>
                            <!-- <p style="margin: 0">Source: <wu-technology-text *ngFor="let technology of row.sources" [technology]="technology"></wu-technology-text></p>
                            <p style="margin: 0">Target: <wu-technology-text *ngFor="let technology of row.targets" [technology]="technology"></wu-technology-text></p> -->
                        </ng-template>
                        <ng-template #rulesTemplate let-row="row">
                            <span><span class="fa fa-list-ol"></span> {{row.rules.length}} Rules</span>
                        </ng-template>
                        <ng-template #showTemplate let-row="row">
                            <button (click)="openModal(row)" type="button" class="btn btn-default">View <i class="fa fa-eye"></i></button>
                            <button (click)="selectRow(row)" type="button" class="btn btn-default">Select <i class="fa fa-angle-double-right"></i></button>
                        </ng-template>

                        <!-- Toolbar action template -->
                        <ng-template #actionTemplate>
                            <button (click)="selectAction()" class="btn btn-default primary-action" type="button">Select&nbsp;<span class="fa fa-angle-double-right"></span></button>
                            <button class="btn btn-primary primary-action" type="button">Add</button>
                        </ng-template>
                    </tab>
                    <tab heading="Server Path">
                        basic content
                    </tab>                    
                </tabset>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="card-pf">
            <div class="card-pf-body">
                <select
                        class="form-control"
                        multiple
                        size="7"
                        style="border: 0; box-shadow: none; height: 129px; overflow-y: auto;">
                    <!-- <option *ngFor="let item of selectedRows" style="padding-left:25px;">
                        {{item.providerID}} <wu-technology-text *ngFor="let technology of item.sources" [technology]="technology"></wu-technology-text> => <wu-technology-text *ngFor="let technology of item.targets" [technology]="technology"></wu-technology-text>
                    </option> -->
                    <option *ngFor="let item of selectedRulesPath | keyvalue">
                        {{item.value.shortPath}}
                    </option>
                </select>
            </div>
            <div class="card-pf-footer">
                <p>
                    <a href="#"><i class="fa fa-angle-double-left"></i> Unselect</a>
                </p>
            </div>
        </div>
    </div>
</div>
