<div class="header-bar">
    <h1 i18n="Header" style="margin-bottom: 25px">Rules Configuration</h1>

    <div class="rules-options">
        <div [hidden]="rescanInProgress" class="action-button">
            <button class="btn btn-primary" (click)="displayAddRulesPathForm()" i18n="Add">Add</button>
        </div>
        <div class="show-all-checkbox">
            <input id="show-all-rules" type="checkbox" [(ngModel)]="showAllRules"/>
            <label for="show-all-rules">Show all rules</label>
        </div>
        <wu-toolbar
                [filterConfiguration]="filter"
                [sortConfiguration]="sort"
                (sortChange)="updateSort()"
                (filterChange)="updateFilters()"
        >
        </wu-toolbar>
    </div>
</div>
<wu-active-filters-list *ngIf="isFilterActive()"
                        [(activeFilters)]="filter.selectedFilters"
                        [countResults]="filter.countFilteredItems"
                        [getLabel]="filter.getLabel"
                        (activeFiltersChange)="updateFilters()"
></wu-active-filters-list>

<ng-template [ngIf]="rescanInProgress">
    <h1>
        <span class="status-icon"><span aria-hidden="true" class="spinner spinner-xs spinner-inline"></span></span>
        Scanning rules...
    </h1>
</ng-template>

<ng-template [ngIf]="!rescanInProgress && configuration != null && configuration.rulesPaths != null && configuration.rulesPaths.length > 0">
    <div class="panel-group">
        <div *ngFor="let rulePath of sortedPaths" id="rulePathPanel_{{rulePath.id}}" class="panel panel-default">

            <!-- Header for each set of rules. -->
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="pointer pull-right" (click)="confirmRemoveRules(rulePath)" *ngIf="rulePath.rulesPathType != 'SYSTEM_PROVIDED'" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </span>
                    <a data-toggle="collapse"
                       [attr.data-parent]="'#rulePathPanel_' + rulePath.id"
                       href="#collapse_{{rulePath.id}}"
                    >
                        <span i18n>Rules:</span> {{rulesShortPath(rulePath)}}
                    </a>
                </h2>
            </div>

            <!-- Area that collapses when the header is clicked. -->
            <div id="collapse_{{rulePath.id}}"
                 class="panel-body panel-collapse collapse in"
            >
                <!-- Angular doesn't know this attribute. Fortunately it works just with the 'in' class.
                     aria-expanded="{{(rulePath.rulesPathType == 'SYSTEM_PROVIDED') ? 'true' : 'false'}}"
                -->

                <div *ngIf="!areRulesLoaded(rulePath)">
                    <h3 i18n>Loading rules...</h3>
                </div>

                <div *ngIf="areRulesLoaded(rulePath) && hasProvidersWithErrors(rulePath)">
                    <h3 i18n><small class="error-text">* One or more Rules inside current RulePath are invalid, it might cause the analysis to fail.</small></h3>
                </div>
                <div *ngIf="areRulesLoaded(rulePath) && !hasFileBasedProviders(rulePath)">
                    <h3 i18n>No rules found.</h3>
                </div>

                <div *ngIf="rulePath.loadError">
                 <p>Invalid rule files have been detected.</p>
                    <p>Please make sure that your rule files comply to the
                         <a href="http://windup.jboss.org/schema/windup-jboss-ruleset.xsd" target="_blank">XSD rule format <i class="fa fa-external-link"></i></a>.
                          See more details in <a href="http://windup.jboss.org/rules-guide.html" target="_blank">Rules guide <i class="fa fa-external-link"></i></a></p>
                 <p class="alert alert-danger" style="white-space:pre-line;" role="alert" [innerHtml]="rulePath.loadError"></p>
                </div>

                <!-- List of rules. -->
                <div *ngIf="getRuleProvidersByPath(rulePath).length > 0 && getFilteredRuleProvidersByPath(rulePath).length === 0; else rulesList" class="no-matches">
                    <ng-container i18n>The current filter is hiding all rules.</ng-container>
                    <a href="javascript:void(0)" (click)="removeFilters()" i18n>Remove</a> <ng-container i18n>the filter.</ng-container>
                </div>
                <ng-template #rulesList>
                    <wu-rules-list *ngIf="hasFileBasedProviders(rulePath)"
                        [rulePath]="rulePath"
                        [ruleProviders]="getFilteredRuleProvidersByPath(rulePath)"
                    >
                    </wu-rules-list>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>

<wu-rules-modal></wu-rules-modal>
<wu-add-rules-path-modal
        [configuration]="configuration"
        (configurationSaved)="configurationUpdated($event)">
</wu-add-rules-path-modal>
<wu-confirmation-modal
        #removeRulesConfirmationModal
        [id]="'deleteRulesConfirmationDialog'"
        [title]="'Confirm Rule Removal'"
        [body]="'Are you sure you want to remove the rules from ...?'"
>
</wu-confirmation-modal>
