@import "~@patternfly/patternfly/patternfly.css";
@import "~@patternfly/patternfly/patternfly-addons.css";

// filter-toolbar-item

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767b;
  }
}

.toolbar-filter-input-group-c {
  position: relative;
  width: 200px;
  height: 24px;
  input {
    position: absolute;
    width: 200px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767b;
  }
}
