<div class="blank-slate-pf">
    <h1 i18n>
        Welcome to the Red Hat Application Migration Toolkit Web Console.
    </h1>
    <div class="blank-slate-pf-main-action">
        <a (click)="newProjectClicked()" class="clickable btn btn-primary btn-lg" i18n="Button">New Project</a>
    </div>

    <div class="welcome-help-text" i18n>
        To learn more, visit the <a href="https://github.com/windup/windup-web/blob/master/README.md">
            Red Hat Application Migration Toolkit Web Console Documentation</a>.
    </div>
</div>
