<div class="row">
    <div>
        <div class="action-button" style="float: right; margin-top: 0;">
            <button class="btn btn-primary" (click)="displayAddRulesPathForm()">
                <span i18="Button">Add</span>
            </button>
        </div>
        <h1 i18n="Header" style="margin-bottom: 25px">Rules Configuration</h1>
    </div>
</div>

<template [ngIf]="configuration != null && configuration.rulesPaths != null && configuration.rulesPaths.length > 0">
    <div class="panel-group">
        <div *ngFor="let rulePath of configuration.rulesPaths" id="rulePathPanel_{{rulePath.id}}" class="panel panel-default">

            <!-- Header for each set of rules. -->
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse"
                       class="collapsed"
                       [attr.data-parent]="'#rulePathPanel_' + rulePath.id"
                       href="#collapse_{{rulePath.id}}"
                    >
                        <span i18n>Rules:</span> {{rulePath.rulesPathType == "SYSTEM_PROVIDED" ? "&lt;System Rules&gt;" : rulePath.path}}
                    </a>
                </h2>
            </div>

            <!-- Area that collapses when the header is clicked. -->
            <div id="collapse_{{rulePath.id}}"
                 class="panel-body panel-collapse collapse {{(rulePath.rulesPathType == 'SYSTEM_PROVIDED') ? 'in' : ''}}"
            >
            <!-- Angular doesn't know this attribute. Fortunatelly it works just with the 'in' class.
                 aria-expanded="{{(rulePath.rulesPathType == 'SYSTEM_PROVIDED') ? 'true' : 'false'}}"
            -->
                <a class="pointer" (click)="confirmRemoveRules(rulePath)" *ngIf="rulePath.rulesPathType != 'SYSTEM_PROVIDED'">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span i18n>Unregister Rules</span>
                </a>

                <div *ngIf="!hasFileBasedProviders(rulePath)">
                    <h3 i18n>This path contains no rules!</h3>
                </div>

                <div *ngIf="rulePath.loadError">
                    <h3>{{rulePath.loadError}}</h3>
                </div>

                <!-- List of rules. -->
                <div class="rulesList list-group list-view-pf list-view-pf-view" *ngIf="hasFileBasedProviders(rulePath)" style="margin-top: 0px;">
                    <div *ngFor="let ruleProvider of ruleProvidersByPath.get(rulePath)" class="list-group-item">
                        <!-- If we need a checkbox for actions / global disabling.
                        <div class="list-view-pf-checkbox">
                            <input type="checkbox">
                        </div>
                        -->
                        <div class="list-view-pf-actions" style="margin-left: 5px;">
                            <button class="btn btn-default" (click)="displayRules(ruleProvider, $event)" i18n="Button">Show rules</button>
                        </div>
                        <div class="list-view-pf-main-info">
                            <div class="list-view-pf-left">
                                <span class="fa fa-puzzle-piece list-view-pf-icon-sm"></span>
                            </div>
                            <div class="list-view-pf-body">
                                <div class="list-view-pf-description">
                                    <div class="list-group-item-heading"> {{ruleProvider.providerID}} </div>
                                    <div class="list-group-item-text">
                                        <div style="width: 16pt; position: absolute;">
                                            <span class="fa fa-file-code-o list-view-pf-icon-md" style="font-size: 16pt;"></span>
                                        </div>
                                        <div style="margin-left: 25pt; ">
                                            <div>{{ruleProvider.origin}}</div>
                                            <div> Source technologies: <wu-technology *ngFor="let source of ruleProvider.sources" [technology]="source" class="techLabel"></wu-technology> </div>
                                            <div> Target technologies: <wu-technology *ngFor="let target of ruleProvider.targets" [technology]="target" class="techLabel"></wu-technology> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-pf-additional-info">
                                    <div class="list-view-pf-additional-info-item">
                                        <span class="fa fa-list-ol"></span>
                                        <strong>{{ruleProvider.rules ? ruleProvider.rules.length : 0}}</strong> <span i18n="Count, e.g. 5 Rules">Rules</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<wu-rules-modal></wu-rules-modal>
<wu-add-rules-path-modal [configuration]="configuration" (configurationSaved)="configurationUpdated($event)"></wu-add-rules-path-modal>
<wu-confirmation-modal
        #removeRulesConfirmationModal
        [id]="'deleteRulesConfirmationDialog'"
        [title]="'Unregister Rules?'"
        [body]="'Unregister rules?'"
>
</wu-confirmation-modal>
