.rulesList .techLabel {
  display: inline-block;
  border: 2px ridge white /*1px solid #9ed0f1*/
;
  background-color: #e0f7ff;
  padding: 0.1ex 0.4em;
  margin: 0.1ex 0.4ex 0;
}

.list-group-item:hover {
  background-color: rgb(222, 243, 255);
}

.rulesList .list-view-pf-body {
  flex-basis: 89%;
}

@media (min-width: 992px) {
  .rulesList .list-view-pf .list-group-item-heading {
    font-size: initial;
  }
}

/* Disable this weird rule from PF. */
@media (min-width: 992px) {
  .rulesList .list-view-pf-additional-info {
    width: 12%;
  }
  .rulesList .list-view-pf-description {
    width: 88%;
  }
}

@media (min-width: 992px) {
  .list-view-pf-additional-info {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.action-button {
  order: 2;
  margin-left: 40px;
}

h3, h1 {
  margin-top: 0;
}

.rules-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:host /deep/ {
  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sort-label {
    margin-right: 6px;
    padding-top: 3px
  }

  .sort-component {
    display: flex;
    flex: 1 0 auto;

    .form-group {
      margin: 0;
    }
  }

  .vertical-divider {
    border-left: 1px solid #bbb;
    display: inline-block;
    height:27px; margin: 0 7px;
    vertical-align: middle;
    width: 1px;
  }

  .toolbar-pf-results {
    margin-top: -10px;
  }

  .chosen-single {
    border-radius: 0;
    height: 26px;
  }
}

.header-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
}

.panel>.panel-collapse>.list-group .list-group-item{
  margin-top: 3px;
}

.panel>.panel-collapse>.list-group .list-group-item.selectedRuleHeader {
  border-color: darkgrey;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
}
