.list-pf-container {    
    @media (min-width: 992px) {
      .list-pf:not(.list-pf-stacked) & {
        align-items: flex-start;
      }
    }
  }

  // add this class to manage flexed contents in the list item content
.list-pf-content-flex {
    @media (min-width: 992px) {
      .list-pf:not(.list-pf-stacked) & {
        align-items: flex-start;
      }
    }
  }

.list-pf-content-wrapper {
    @media (min-width: 992px) {
        flex-wrap: wrap;
        & > * + * {
            margin-left: 0;
        }
    }
}

  // at larger breakpoints, if the list is not stacked, then don't wrap the main contents and add some space between them
.list-pf:not(.list-pf-stacked) .list-pf-main-content {
    @media (min-width: 992px) {
        flex-wrap: wrap;
    }
}