<div class="container-fluid wu-frame">
    <h1 i18n>Configure the Analysis</h1>

    <h2 *ngIf="!project" i18n>Loading...</h2>

    <form *ngIf="project" #analysisContextForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal wizard-form">

        <div *ngFor="let errorMessage of errorMessages" class="form-errors alert alert-danger">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{errorMessage}}
            </div>
        </div>

        <!-- Form controls begins -->
        <div class="form-group">
            <label class="control-label" for="migrationPath" i18n>* Transformation path</label>
            <select #migrationPath="ngModel" id="migrationPath" name="migrationPath" ngControl="migrationPath" class="form-control" required
                    [(ngModel)]="analysisContext.migrationPath.id" [ngClass]="{'has-error': hasError(migrationPath)}">
                    <option *ngFor="let migrationPath of migrationPaths | async" [value]="migrationPath.id">{{migrationPath.name}}</option>
            </select>
            <span [class.hidden]="!hasError(migrationPath)" class="help-block alert" i18n>Transformation path must be specified.</span>
            <p class="help-block">Select the transformation path relevant for the analysis of your application(s).</p>
        </div>

        <!-- Apps -->
        <div class="form-group">
            <label class="control-label" i18n>Applications included</label>
            <wu-select-applications [availableApps]="availableApps" [(selectedApps)]="analysisContext.applications">
            </wu-select-applications>
            <p class="help-block">All application included in the analysis.</p>
        </div>

        <!-- Packages -->
        <div class="form-group">
            <label class="control-label" i18n>Included Packages</label>
            <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
            <wu-js-tree-wrapper [treeNodes]="packageTree" [(selectedNodes)]="analysisContext.includePackages">
            </wu-js-tree-wrapper>
            <p class="help-block">All classes contained in those packages will be considered as written by your organization and will be decompiled and analysed.</p>
        </div>
        <div class="form-group">
            <label class="control-label" i18n>Excluded Package</label>
            <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
            <wu-js-tree-wrapper [treeNodes]="packageTree" [(selectedNodes)]="analysisContext.excludePackages">
            </wu-js-tree-wrapper>
            <p class="help-block">All classes contained in those packages will be ignored during the analysis.</p>
        </div>

        <!-- Rulesets selection 
        <div class="form-group">
            <label class="control-label">Custom Ruleset selection</label>
            <wu-custom-rule-selection [selectedRulePaths]="analysisContext.rulesPaths" (selectedRulePathsChanged)="rulesPathsChanged($event)">
            </wu-custom-rule-selection>
        </div>
-->

        <!-- Advanced options -->
        <div class="form-group">
            <label class="control-label" i18n>Advanced Options</label>
<!--            <input id="createStaticReports" name="generateStaticReports" type="checkbox" [(ngModel)]="analysisContext.generateStaticReports"> 
            <label for="createStaticReports" i18n>Create static HTML reports</label>
            -->

            <wu-analysis-context-advanced-options [(selectedOptions)]="analysisContext.advancedOptions" (advancedOptionsChanged)="advancedOptionsChanged($event)"
                    [configurationOptions]="configurationOptions" #advancedOptionsModal>
            </wu-analysis-context-advanced-options>
        </div>

        <div class="form-group pull-right">
            <button (click)="cancel()" class="btn btn-default" type="button" i18n>Back</button>
            <button (click)="save()" class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save</button>
            <button (click)="saveAndRun()" class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save &amp; Run</button>
        </div>
    </form>
</div>