<div class="container-fluid">
    <h1 i18n>Configuration</h1>

    <h2 *ngIf="!project" i18n>Loading...</h2>

    <form *ngIf="project" #analysisContextForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal wizard-form">

        <div *ngFor="let errorMessage of errorMessages" class="form-errors alert alert-danger">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{errorMessage}}
            </div>
        </div>
        <!-- Form controls begins -->

        <!-- Fixed Transformation paths -->
        <div class="form-group">
            <label class="control-label required" for="migrationPath" i18n>Transformation path</label>
            <div>
                <ng-container *ngFor="let transformationPath of transformationPaths">
                    <label class="radio-inline control-label" style="padding-left: 20px; padding-right: 40px;">
                        <input type="radio" id="migrationPath" name="migrationPath" #migrationPath="ngModel"
                            [(ngModel)]="analysisContext.migrationPath.id" ngControl="migrationPath" [value]="transformationPath.id"/>
                        {{ transformationPath.name }}
                    </label>
                </ng-container>
                <p class="help-block">Select the transformation path relevant for the analysis of your application(s).</p>
            </div>
            <label class="checkbox-inline">
                <input type="checkbox" name="cloudTargetsIncluded" ngControl="cloudTargetsIncluded" [(ngModel)]="analysisContext.cloudTargetsIncluded"/>
                Cloud readiness analysis
            </label>
            <p class="help-block">Tick this box to also assess your application(s) for cloud and container readiness.</p>
        </div>

        <!-- Advanced Transformation paths
        <fieldset class="fields-section-pf" id="advTransformPathSection">
            <legend class="fields-section-header-pf" aria-expanded="advTransformPathShoww">
                <span *ngIf="!advTransformPathShow" class="fa fa-angle-right field-section-toggle-pf"></span>
                <span *ngIf="advTransformPathShow" class="fa fa-angle-right field-section-toggle-pf fa-angle-down"></span>
                <a (click)="toggleAdvTransformPathOptions()" class="field-section-toggle-pf" i18n>Advanced selection of transformation path</a>
            </legend>
            <div class="form-group" [hidden]="!advTransformPathShow">
                <label class="control-label required" for="migrationPath" i18n>Advanced transformation path</label>
                <select #migrationPath="ngModel" id="migrationPath" name="migrationPath" ngControl="migrationPath" class="form-control required"
                        [(ngModel)]="analysisContext.migrationPath.id" [ngClass]="{'has-error': hasError(migrationPath)}">
                        <option *ngFor="let migrationPath of migrationPaths | async" [value]="migrationPath.id">{{migrationPath.name}}</option>
                </select>
                <span [class.hidden]="!hasError(migrationPath)" class="help-block alert" i18n>Transformation path must be specified.</span>
                <p class="help-block">Select the transformation path relevant for the analysis of your application(s).</p>
            </div>
        </fieldset>-->
    
        <!-- In wizard mode All applications are included! /see ngIf/
             Configuration form outside wizard is able to select only subset of uploaded applications -->
        <div class="form-group" *ngIf="!isInWizard">
            <label class="control-label" i18n>Applications included</label>
            <wu-select-applications [availableApps]="availableApps" [(selectedApps)]="analysisContext.applications">
            </wu-select-applications>
            <p class="help-block">All application included in the analysis.</p>
        </div>

        <!-- Packages -->
        <div class="form-group">
            <label class="control-label" i18n>Included packages</label>
            <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
            <wu-js-tree-wrapper [treeNodes]="packageTree" [(selectedNodes)]="analysisContext.includePackages">
            </wu-js-tree-wrapper>
            <p class="help-block">Select the Java packages that will be decompiled and analyzed. If no package is selected, all classes will be considered.</p>
        </div>

        <wu-expand-collapse [tabTitle]="'Exclude some packages'">
            <div class="form-group">
                <div>
                    <label class="control-label" i18n>Excluded packages</label>
                    <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
                    <wu-js-tree-wrapper [treeNodes]="packageTree" [(selectedNodes)]="analysisContext.excludePackages">
                    </wu-js-tree-wrapper>
                </div>
                <p class="help-block">All classes contained in those packages will be ignored during the analysis.</p>
            </div>
        </wu-expand-collapse>

        <!-- Rulesets selection -->
        <wu-expand-collapse [tabTitle]="'Use local custom rules'">
            <div class="form-group">
                <label class="control-label" i18n>Custom rulesets</label>
                <wu-custom-rule-selection
                        [selectedRulePaths]="analysisContext.rulesPaths"
                        (selectedRulePathsChanged)="rulesPathsChanged($event)">
                </wu-custom-rule-selection>
            </div>
        </wu-expand-collapse>

        <!-- Advanced options -->
        <wu-expand-collapse [tabTitle]="'Advanced options'">
            <div class="form-group">
                <label *ngIf="!hideUnfinishedFeatures" for="createStaticReports" i18n>
                    <input id="createStaticReports" name="generateStaticReports" type="checkbox"
                           [(ngModel)]="analysisContext.generateStaticReports">
                    Create static HTML reports
                </label>

                <label class="control-label" i18n>Advanced options</label>
                <wu-analysis-context-advanced-options
                        [(selectedOptions)]="analysisContext.advancedOptions"
                        (advancedOptionsChanged)="advancedOptionsChanged($event)"
                        [configurationOptions]="configurationOptions" #advancedOptionsModal>
                </wu-analysis-context-advanced-options>
            </div>
        </wu-expand-collapse>

        <div class="form-group pull-right">
            <button (click)="cancel()" class="btn btn-default" type="button" i18n>
                {{isInWizard ? 'Back' : 'Cancel'}}
            </button>
            <button (click)="save()" class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save</button>
            <button (click)="saveAndRun()" class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save &amp; Run</button>
        </div>
    </form>
</div>
