.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  padding-top: 15px;
}

.save-and-run {
  display: flex;
  flex-direction: row;
}

:host /deep/ {
  .save-and-run {
    padding-top: 15px;
    margin-right: 10px;
  }
}