<h1 i18n>Analysis Context</h1>
<h2 *ngIf="!project" i18n>Loading...</h2>

<form *ngIf="project" #analysisContextForm="ngForm" (ngSubmit)="onSubmit()"  class="form-horizontal">

    <div *ngFor="let errorMessage of errorMessages" class="row form-errors alert alert-danger">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-md-2 control-label" for="migrationPath" i18n>Migration Path</label>
            <div class="col-md-10 col-lg-8">
                <select #migrationPath="ngModel" id="migrationPath" name="migrationPath" ngControl="migrationPath"
                        class="form-control" required
                        [(ngModel)]="analysisContext.migrationPath.id"
                        [ngClass]="{'has-error': hasError(migrationPath)}"
                >
                    <option *ngFor="let migrationPath of migrationPaths | async" [value]="migrationPath.id">{{migrationPath.name}}</option>
                </select>
                <span [class.hidden]="!hasError(migrationPath)" class="help-block" i18n>
                    A migration path must be specified.
                </span>
            </div>
        </div>

        <!-- Apps -->
        <div class="form-group">
            <label class="col-md-2 control-label" i18n>Applications included</label>
            <div class="col-md-10 col-lg-8">
                <wu-select-applications
                       [availableApps]="availableApps"
                       [(selectedApps)]="analysisContext.applications">
                </wu-select-applications>
            </div>
        </div>

        <!-- Packages -->
        <div class="form-group">
            <label class="col-md-2 control-label" i18n>Include Packages</label>
            <div class="col-md-10 col-lg-8">
                <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
                <wu-js-tree-wrapper
                        [treeNodes]="packageTree"
                        [(selectedNodes)]="analysisContext.includePackages"
                >
                </wu-js-tree-wrapper>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" i18n>Exclude Package</label>
            <div class="col-md-10 col-lg-8">
                <strong *ngIf="!packageTreeLoaded"><span class="spinner spinner-xs spinner-inline"></span>Loading...</strong>
                <wu-js-tree-wrapper
                        [treeNodes]="packageTree"
                        [(selectedNodes)]="analysisContext.excludePackages">
                </wu-js-tree-wrapper>
            </div>
        </div>

        <!-- Rulesets selection -->
        <div class="form-group">
            <label class="col-md-2 control-label">Custom Ruleset selection</label>
            <div class="col-md-6">
                <wu-custom-rule-selection
                        [selectedRulePaths]="analysisContext.rulesPaths"
                        (selectedRulePathsChanged)="rulesPathsChanged($event)">
                </wu-custom-rule-selection>
            </div>
        </div>

        <!-- Advanced options -->
        <div class="form-group">
            <label class="col-md-2 control-label" i18n>Advanced Options</label>
            <div class="col-md-10 col-lg-8">
                <input id="createStaticReports" name="generateStaticReports" type="checkbox"
                       [(ngModel)]="analysisContext.generateStaticReports"
                >
                <label for="createStaticReports" i18n>Create static HTML reports</label>

                <wu-analysis-context-advanced-options
                        [(selectedOptions)]="analysisContext.advancedOptions"
                        (advancedOptionsChanged)="advancedOptionsChanged($event)"
                        [configurationOptions]="configurationOptions"
                        #advancedOptionsModal>
                </wu-analysis-context-advanced-options>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button (click)="saveAndRun()" class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save &amp; Run</button>
                <button (click)="save()"       class="btn btn-primary" [disabled]="!analysisContextForm.form.valid" i18n>Save Configuration</button>
                <button (click)="cancel()"     class="btn btn-default" type="button" i18n>Cancel</button>
            </div>
        </div>
    </div>
</form>
