// Bootstrap

.pre-scrollable {    
    overflow-y: auto;
}

.card-pf-body {
    height: 278px;
    margin: -20px;
}

.blank-slate-pf {
    height: 258px;
    padding: 20px 20px;
    margin: 0px 10px;
    background-color: transparent;
    border: 0;
}