<div class="select-applications" >
    <span class="text-danger" [class.bg-danger]="appsSelectedError">{{appsSelectedError}}</span>
    <chosen-multiple [getLabel]="appsLabelCallback"
                     [compareWith]="equalsCallback"
                     [(ngModel)]="selectedApps"
                     [options]="availableAppsSorted"
                     name="selectedApplications">
    </chosen-multiple>
    <button (click)="selectAll()">Select All</button>
    <button (click)="selectNone()">Select None</button>
</div>