<div class="row toolbar-pf-results">
    <div class="col-sm-12">
        <h5>{{countResults}} Results</h5>
        <p>Active filters:</p>
        <ul class="list-inline">
            <li *ngFor="let filter of activeFilters">
                <span class="label label-info">
                    {{getLabel(filter)}}
                    <a href="javascript:void(0)" (click)="removeFilter(filter)"><span class="pficon pficon-close"></span></a>
                </span>
            </li>
        </ul>
        <p><a href="javascript:void(0)" (click)="clearFilters()" class="pointer">Clear All Filters</a></p>
    </div><!-- /col -->
</div><!-- /row -->
