.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container {
    padding-top: 15px;
}

.search-and-create {
    display: flex;
    flex-direction: row;
}
.technologyItems {
    font-size: 0;
    width: 100%;
    clear: both;
}

.technologyItem {
    font-size: small;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    border-top: solid 1px;
    border-bottom: 3px solid #734d00;
    display: inline-block;
}

.technologies-table {
    margin-top: 10px;
}

.technologiesStats td {
    text-transform: capitalize;
}

.panel-primary.wuTechnologies { border-color: #e7e7e7; }
.panel-primary.wuTechnologies .panel-heading { background-color: white; padding: 15px 15px; border-bottom: 2px solid #e7e7e7; }
.panel-primary.wuTechnologies .panel-heading .panel-title { color: black; font-size: 20px; font-weight: 500; }

:host /deep/ {
    .search-and-create .search-component {
        padding-top: 20px;
    }
}
