<div class="header-bar">
    <h1 i18n="Header" style="margin-bottom: 25px">Labels Configuration</h1>

    <div class="rules-options">
        <div [hidden]="rescanInProgress" class="action-button">
            <button class="btn btn-primary" (click)="displayAddLabelsPathForm()" i18n="Add">Add</button>
        </div>
        <wu-toolbar
                [filterType]="'text'"
                [filterConfiguration]="filter"
                [sortConfiguration]="sort"
                (sortChange)="updateSort()"
                (filterChange)="updateFilters()"
        >
        </wu-toolbar>
    </div>
</div>

<wu-active-filters-list *ngIf="isFilterActive()"
                        [(activeFilters)]="filter.selectedFilters"
                        [countResults]="filter.countFilteredItems"
                        [getLabel]="filter.getLabel"
                        (activeFiltersChange)="updateFilters()"
></wu-active-filters-list>

<ng-template [ngIf]="rescanInProgress">
    <h1>
        <span class="status-icon"><span aria-hidden="true" class="spinner spinner-xs spinner-inline"></span></span>
        Scanning labels...
    </h1>
</ng-template>

<ng-template [ngIf]="!rescanInProgress && configuration != null && configuration.labelsPaths != null && configuration.labelsPaths.length > 0">
    <div class="panel-group">
        <div *ngFor="let labelPath of sortedPaths" id="labelPathPanel_{{labelPath.id}}" class="panel panel-default">

            <!-- Header for each set of labels. -->
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="pointer pull-right" (click)="confirmRemoveLabels(labelPath)" *ngIf="labelPath.labelsPathType != 'SYSTEM_PROVIDED'" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </span>
                    <a data-toggle="collapse"
                        [attr.data-parent]="'#labelPathPanel_' + labelPath.id"
                        href="#collapse_{{labelPath.id}}"
                    >
                        <span i18n>Labels:</span> {{labelsShortPath(labelPath)}}
                    </a>
                </h2>
            </div>

            <!-- Area that collapses when the header is clicked. -->
            <div id="collapse_{{labelPath.id}}"
                 class="panel-body panel-collapse collapse in"
            >
                <!-- Angular doesn't know this attribute. Fortunately it works just with the 'in' class.
                     aria-expanded="{{(labelPath.labelsPathType == 'SYSTEM_PROVIDED') ? 'true' : 'false'}}"
                -->

                <div *ngIf="!areLabelsLoaded(labelPath)">
                    <h3 i18n>Loading labels...</h3>
                </div>

                <div *ngIf="areLabelsLoaded(labelPath) && hasProvidersWithErrors(labelPath)">
                    <h3 i18n><small class="error-text">* One or more Labels inside current LabelPath are invalid, it might cause an analysis to fail.</small></h3>
                </div>
                <div *ngIf="areLabelsLoaded(labelPath) && !hasFileBasedProviders(labelPath)">
                    <h3 i18n>No labels found.</h3>
                </div>

                <div *ngIf="labelPath.loadError">
                 <p>Invalid label files have been detected.</p>
                    <p>Please make sure that your label files comply to the
                         <a href="http://windup.jboss.org/schema/windup-jboss-labelset.xsd" target="_blank">XSD label format <i class="fa fa-external-link"></i></a>.
                          See more details in <a href="http://windup.jboss.org/labels-guide.html" target="_blank">Labels guide <i class="fa fa-external-link"></i></a></p>
                 <p class="alert alert-danger" style="white-space:pre-line;" role="alert" [innerHtml]="labelPath.loadError"></p>
                </div>
                
                <!-- List of labels. -->
                <div *ngIf="getLabelProvidersByPath(labelPath).length > 0 && getFilteredLabelProvidersByPath(labelPath).length === 0; else labelsList" class="no-matches">
                    <ng-container i18n>The current filter is hiding all labels.</ng-container>
                    <a href="javascript:void(0)" (click)="removeFilters()" i18n>Remove</a> <ng-container i18n>the filter.</ng-container>
                </div>
                <ng-template #labelsList>
                    <wu-labels-list *ngIf="hasFileBasedProviders(labelPath)"
                        [labelPath]="labelPath"
                        [labelProviders]="getLabelProvidersByPath(labelPath)"
                    >
                    </wu-labels-list>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>

<wu-add-labels-path-modal
        [configuration]="configuration"
        (configurationSaved)="configurationUpdated($event)">
</wu-add-labels-path-modal>
<wu-confirmation-modal
        #removeLabelsConfirmationModal
        [id]="'deleteLabelsConfirmationDialog'"
        [title]="'Confirm Label Removal'"
        [body]="'Are you sure you want to remove the labels from ...?'"
>
</wu-confirmation-modal>