.action-button {
  order: 2;
  margin-left: 40px;
}

h3, h1 {
  margin-top: 0;
}

.rules-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:host /deep/ {
  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sort-label {
    margin-right: 6px;
    padding-top: 3px
  }

  .sort-component {
    display: flex;
    flex: 1 0 auto;

    .form-group {
      margin: 0;
    }
  }

  .vertical-divider {
    border-left: 1px solid #bbb;
    display: inline-block;
    height:27px; margin: 0 7px;
    vertical-align: middle;
    width: 1px;
  }

  .toolbar-pf-results {
    margin-top: -10px;
  }

  .chosen-single {
    border-radius: 0;
    height: 26px;
  }
}

.header-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
}

.panel>.panel-collapse>.list-group .list-group-item.selectedRuleHeader,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child.selectedRuleHeader {
  border-color: #39a5dc;
  border-width: 1px;
  border-style: solid;
}

.panel>.panel-collapse>.list-group .list-group-item.selectedRuleHeader .list-group-item-header {
  background-color: #def3ff;
}

.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
  border-top: 1px solid transparent;
}

.show-all-checkbox {
  padding-right: 20px;
}
