.log-view__component {
  table {
    table-layout: fixed;
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
  }

  .log-view .log-view-output {
    font-size: 11px;
    padding: 40px 0;
  }

  @media (min-width: 768px) {
    .log-view .log-view-output {
      font-size: 12px;
    }
  }

  .log-view {
    background-color: #101214;
    font-family: Menlo, Monaco, Consolas, monospace;
    position: relative;
  }

  .log-header .log-actions .btn-link,
  .log-view {
    padding: 0;
  }
  .mar-left-xxl {
    margin-left: 30px;
  }
  .log-title {
    margin-top: 0;
  }
  .log-header {
    margin-bottom: 3px;
  }
  .log-header label {
    margin-bottom: 0;
  }
  .log-header .dash {
    color: #9c9c9c;
    margin: 0 2px;
  }
  .log-header .log-actions form {
    display: inline-block;
  }
  .log-header .log-timestamps {
    color: #9c9c9c;
    display: block;
  }
  @media (min-width: 768px) {
    .log-header .log-status {
      display: inline;
    }
    .log-header .log-timestamps {
      font-size: 84%;
      display: inline-block;
      margin-left: 3px;
    }
    .log-header .log-actions {
      float: right !important;
      float: right;
      margin-left: 5px;
    }
  }
  .log-size-warning {
    margin: 0;
  }
  .log-view {
    background-color: #101214;
    font-family: Menlo, Monaco, Consolas, monospace;
    position: relative;
  }
  .log-end-msg,
  .log-view .log-scroll a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  .log-view pre,
  .log-view pre code {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    overflow: visible;
    padding: 0 10px;
  }
  .log-view .log-scroll {
    background-color: #101214;
    border: 1px solid #272b30;
    display: inline-block;
  }
  .log-view .log-scroll:hover {
    border-color: #32383f;
  }
  .log-view .log-scroll a {
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
  }
  .log-view .log-scroll a:focus,
  .log-view .log-scroll a:hover {
    background-color: #000;
    color: #11aeff;
    text-decoration: none;
  }
  .log-view .log-scroll-top {
    position: absolute;
    right: 0;
    border-right-width: 0;
    border-top: 0;
  }
  .log-view .log-scroll-top.affix-top {
    position: absolute;
    right: 0;
    top: 0;
  }
  .log-view .log-scroll-top.affix {
    position: fixed;
    right: 20px;
    top: 0;
  }
  .log-view .log-scroll-top.affix.target-logger-node {
    position: fixed;
    right: 30px;
    top: 120px !important;
  }
  .log-view .log-scroll-bottom {
    position: absolute;
    border-bottom: 0;
    border-right-width: 0;
    bottom: 0;
    right: 0;
  }
  .log-view .log-view-output {
    font-size: 11px;
    padding: 40px 0;
  }
  @media (min-width: 768px) {
    .log-view .log-view-output {
      font-size: 12px;
    }
  }
  @media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 0) {
    .log-view .log-view-output {
      padding-bottom: 70px;
    }
  }
  .log-view .log-view-output table {
    table-layout: fixed;
    width: 100%;
  }
  .log-view.log-fixed-height .ellipsis-loader {
    bottom: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, #101214 15%);
    background-image: -o-linear-gradient(top, transparent 0%, #101214 15%);
    background-image: linear-gradient(to bottom, transparent 0%, #101214 15%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff101214', GradientType=0);
    height: 30px;
    right: 17px;
    width: auto;
  }
  .log-view.log-fixed-height .ellipsis-loader.dots div {
    left: 50%;
    top: 12px;
  }
  .log-view.log-fixed-height .log-end-msg {
    margin: 20px 0 -35px 10px;
    position: static;
  }
  .log-view.log-fixed-height .log-scroll-bottom,
  .log-view.log-fixed-height .log-scroll-top {
    border-right-width: 1px;
    right: 17px;
  }
  .log-view.log-fixed-height .log-view-output {
    overflow: auto;
    padding-bottom: 0;
    padding-top: 0;
  }
  .log-view.log-fixed-height .log-view-output table {
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .ellipsis-loader {
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .log-end-msg {
    font-size: 12px;
    color: #72767b;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
  .chromeless .log-scroll-top.affix {
    right: 0;
  }
  .chromeless .log-scroll-top.affix.target-logger-node {
    right: 14px;
  }
  .log-link-external a {
    margin-left: 20px;
    margin-right: 10px;
    white-space: nowrap;
  }
  .log-link-external i {
    font-size: 10px;
    margin-left: 5px;
  }
  .log-line {
    color: #d1d1d1;
  }
  .log-line:hover {
    background-color: #22262b;
    color: #ededed;
  }
  .log-line-number:before {
    content: attr(data-line-number);
  }
  .log-line-number {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-right: 1px #272b30 solid;
    padding-right: 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 60px;
    color: #72767b;
    text-align: right;
  }
  .log-line-text {
    padding: 0 10px;
    white-space: pre-wrap;
    width: 100%;
    overflow-wrap: break-word;
  }
  .log-line-text::-moz-selection {
    color: #101214;
    background: #e5e5e5;
  }
  .table-log-pods {
    background-color: #fff;
    border: 1px solid #d1d1d1;
  }
  .table-log-pods > tbody + tbody {
    border-top-width: 1px;
  }
  .log-fixed-height.empty-state-message {
    margin-top: 0;
  }

  .log-view table {
    font-size: 12px;
  }

  a.follow-links:hover {
    cursor: pointer;
  }
}
