<wu-navbar [showMenuItems]="false"></wu-navbar>
<wu-hamburger-menu [menuItems]="navigationMenuItems" ></wu-hamburger-menu>
<h2>Test AAA default-layout</h2>


<div class="layout-default container-fluid">
    <div class="row row-cards-pf notifications-row">
        <!-- wu-breadcrumbs></wu-breadcrumbs -->
        <wu-notification></wu-notification>
    </div>

    <div class="row row-cards-pf">


        <h2>Test BBB</h2>

        <!-- Routed views go here -->
        <router-outlet></router-outlet>
    </div>
</div><!-- /container -->
