$progress-success-color: #3f9c35;

.file-info {
  position: absolute;
  margin-left: 20px;
}

li {
  list-style: none;
}

.action-button {
  right: 35px;
  position: absolute;
}

.glyphicon-remove {
  color: black;
}

.progress {
  height: 30px;
}

.progress-bar {
  padding-top: 5px;
  padding-bottom: 5px;
}
// #F6F9FC - light blue
// #E9F4FF - progressbar blue

ul {
  margin: 0;
  padding: 0;
}

.progress-bar.success {
  background-color: $progress-success-color;
}
