<ul *ngIf="uploadedItemsList?.length > 0" class="app-list">
    <li *ngFor="let item of uploadedItemsList">
        <div class="progress">
            <div class="progress-bar success"
                 role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"
                 style="width: 100%">
                <div class="file-info">
                    <span>{{getLabel(item)}}</span>
                </div>
                <div class="action-button">
                    <span class="pointer" (click)="delete(item)">
                        <i class="glyphicon fa fa-trash-o"></i>
                    </span>
                </div>
                <div>100%</div>
            </div>
        </div>
    </li>
</ul>
