* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.header {
    color: cornsilk;
    padding: 1ex 2em;
    background: #959595;
    background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
    background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );
}

#content {
    padding: 30px;
}

table.list {
    border-collapse: collapse;
}
table.list th, table.list td  {
    border: 1px solid gray;
    padding: 1ex 1em;
}
table.list th {
    font-weight: bold;
    background: #f0f9ff;
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
}

.message {
    border: 1px solid gray;
    padding: 1ex 1em;
    margin: 1ex 0em;
    background-color: beige;
}
.buttonLink {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5ex 1em;
    margin: 1ex 0em;
    font-weight: bold;
    font-family: Verdana;
    font-size: 90%;
    background: #b4df5b;
    background: -moz-linear-gradient(top,  #b4df5b 0%, #38c93f 100%);
    background: -webkit-linear-gradient(top,  #b4df5b 0%,#38c93f 100%);
    background: linear-gradient(to bottom,  #b4df5b 0%,#38c93f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#38c93f',GradientType=0 );
    color: black;
    text-decoration: none;
}

.tag {
    display: inline-block;
    background-color: #fe7878;
    border-radius: 4px;
}