/*
    Created on : Feb 1, 2017, 2:51:02 PM
    Author     : Ondrej Zizka, zizka at seznam.cz
*/

svg { font-family: "Arial"; }
:host /deep/ .myNode {
  stroke: #000;
  stroke-width: 1.5px;
}
:host /deep/ .myEdge {
  stroke: #999;
  stroke-width: 1.5px;
}
:host /deep/ g.myGroup .labelText {
    /*stroke: 1px solid gray;*/
    font-family: sans-serif;
}

/* Nodes and labels */
:host /deep/ g.myGroup.suffix_jar circle { fill: gold; }
:host /deep/ g.myGroup.isKnown    circle { fill: #fcfae5; }
:host /deep/ g.myGroup.suffix_war circle,
:host /deep/ g.myGroup.suffix_ear circle { fill: orange; }
:host /deep/ g.myGroup.typeApplication circle { fill: yellowgreen; }

:host /deep/ g.myGroup                 .labelText { font-size: 9pt; }
:host /deep/ g.myGroup.typeApplication .labelText { font-size: 120%; }

:host /deep/ g.myGroup                 .labelBox { fill: aliceblue; }
:host /deep/ g.myGroup.suffix_war      .labelBox,
:host /deep/ g.myGroup.suffix_ear      .labelBox { fill: aliceblue; }
:host /deep/ g.myGroup.isKnown         .labelBox { fill: #fcfae5; }
:host /deep/ g.myGroup.typeApplication .labelBox { fill: #9bea81; }
:host /deep/ g.myGroup.highlighted     .labelBox { fill: yellow; }
:host /deep/ g.myGroup.highlighted     circle    { fill: red !important; }

/* Legend */
:host div.legend           .sample { border: 1px solid black; width: 1.5ex; height: 1.5ex; display: inline-block; }
div.legend span.suffix_jar .sample { background-color: gold; }
div.legend span.isKnown    .sample { background-color: #fcfae5; }
div.legend span.suffix_war .sample { background-color: orange; }
div.legend span.typeApplication .sample{ background-color: yellowgreen; }
div.legend span.labelText { font-size: 9pt; }
div.legend span.typeApplication .labelText { font-size: 120%; }
div.legend span.highlighted .sample { background-color: red !important; }

div.legend span                 .label { background-color: aliceblue; color: black; display: inline-block; /* Eliminate rogue class from windup-web.css: */ float: none; font-weight: normal; }
div.legend span.isKnown         .label { background-color: #fcfae5; }
div.legend span.typeApplication .label { background-color: #9bea81; }
div.legend span.highlighted     .label { background-color: yellow; }


/* Collapsed nodes. */
:host /deep/ g.myGroup       circle { r: 10px; }
:host /deep/ g.myGroup.small circle { r:  8px; }
:host /deep/ g.myGroup.small                 .labelBox,
:host /deep/ g.myGroup.small                 .labelText { display: none; }
:host /deep/ g.myGroup.small.typeApplication .labelBox,
:host /deep/ g.myGroup.small.typeApplication .labelText { display: initial; }

:host /deep/ div#dependencyDetails table { border-collapse: collapse; min-width: 80%; }
:host /deep/ div#dependencyDetails table tr.header { background: skyblue; }
:host /deep/ div#dependencyDetails table th { width: 120px; }
:host /deep/ div#dependencyDetails table th,
:host /deep/ div#dependencyDetails table td { text-align: left; font-weight: normal; border: 1px solid silver; padding: 0.5ex 0.5em }

:host /deep/ div#dependencyDetails                tr.noDependencies { display: none; }
:host /deep/ div#dependencyDetails.noDependencies tr.noDependencies { display: table-row; }
:host /deep/ div#dependencyDetails                tr.noDependees { display: none; }
:host /deep/ div#dependencyDetails.noDependees    tr.noDependees { display: table-row; }
:host /deep/ div#dependencyDetails    tr.highlighted td { background-color: lightyellow; }

.label {
    border-radius: 4px;
    display: block;
    float: left;
    font-weight: bold;
    margin: 2px;
    padding: 4px;
}
