

    <div *ngFor="let option of _options">
        <label>
            <input type="checkbox" [name]="groupName"
                   [value]="valueCallback(option)"
                   [checked]="shouldBeChecked(option)"
                   (change)="handleCheckboxChange(option, $event)"
                   />
            {{labelCallback(option)}}
        </label>
        <!--
        [checked]="checkedOptions.indexOf(valueCallback(option)) != -1"
        {{valueCallback(option)}}
        (change)="updateCheckedOptions(valueCallback(option), $event)"
        -->
    </div>
