.row-cards-pf {
    padding: 0 0;
}

.card-pf-body {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .col-margin-bottom-media {
        margin-bottom: 20px !important;
    }
}

@media (min-width: 992px) {
    .col-margin-bottom-media {
        margin-bottom: 0px !important;
    }
}

:host /deep/ .row-cards-pf:first-child { 
    padding-top: initial; 
}