.pre-scrollable {    
    overflow-y: auto;
}

.blank-slate-pf {
    height: 190px;
    padding: 60px 10px;
    margin: 0px 10px;
    background-color: transparent;
    border: 0;
}

.card-pf-utilization-details {
    padding-left: 20px;
    margin-bottom: 0;
}

.card-pf-body {
    height: 340px; // 340 is the max heigth we can assign
    margin-top: 0px;
}