// Bootstrap

.pre-scrollable {    
    overflow-y: auto;
}

.card-pf-body {
    height: 139px;
    margin: -20px;
}

.blank-slate-pf {
    height: 119px;
    padding: 0px;
    margin: 0px 10px;
    background-color: transparent;
    border: 0;
}

.blank-slate-pf .blank-slate-pf-icon {
    font-size: 40px;
}

.blank-slate-pf h1 {
    font-size: 20px;
    margin-top: 0px;
}