<div class="card-pf-heading toolbar-pf" style="padding-top: 0px;">
        <div class="dropdown card-pf-time-frame-filter">
                <div class="form-group toolbar-pf-view-selector">
                    <button type="button"
                            (click)="excludePackageViewSelection=0"
                            [ngClass]="{'active': excludePackageViewSelection == 0}"
                            class="btn btn-link">
                        <i class="fa fa-list"></i>
                    </button>
                    <button type="button"
                            (click)="excludePackageViewSelection=1"
                            [ngClass]="{'active': excludePackageViewSelection == 1}"
                            class="btn btn-link">
                        <i class="pficon pficon-repository"></i>
                    </button>
                </div>
            </div>
    <h2 class="card-pf-title">
        {{title}}
    </h2>
</div>

<div *ngIf="packages && packages.length > 0; else emptyPackages"
     class="card-pf-body"
     style="margin-bottom: 20px;"
     [ngClass]="{'pre-scrollable': excludePackageViewSelection == 1}"
     [ngStyle]="{'padding': excludePackageViewSelection == 0 ? '0' : '0px 20px'}">
        
    <select *ngIf="excludePackageViewSelection == 0"
            class="form-control"
            multiple
            size="7"
            style="border: 0; box-shadow: none; height: 129px; overflow-y: auto;">
        <option *ngFor="let item of packages" style="padding-left:25px;">
            {{item.fullName}}
        </option>
    </select>

    <mat-tree #tree *ngIf="excludePackageViewSelection == 1" [dataSource]="treeDataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="20">
            <button type="button" mat-icon-button disabled></button>            
            <i class="fa fa-folder"></i>&nbsp;{{node.name}}
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="20">
            <button type="button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <span class="icon expand-icon fa" [ngClass]="treeControl.isExpanded(node) ? 'fa-angle-down' : 'fa-angle-right'"></span>
            </button>
            <i class="fa fa-folder"></i>&nbsp;{{node.name}}
        </mat-tree-node>
    </mat-tree>

</div>

<ng-template #emptyPackages>
    <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
            <span class="pficon pficon pficon-info"></span>
        </div>
        <h1>
            No packages excluded
        </h1>
    </div>
</ng-template>