<div class="toolbar">
    <div class="dropdown-filter">
        <wu-dropdown-filter
                [filterableAttributes]="filterConfiguration.filterableAttributes"
                [filterOptions]="filterConfiguration.filterOptions"
                [(selectedAttribute)]="filterConfiguration.selectedAttribute"
                (setFilter)="addFilter($event)"
                (selectedAttributeChange)="updateFilters()"
        >
        </wu-dropdown-filter>
    </div>
    <span class="vertical-divider"></span>
    <wu-sort
            [sortOptions]="sortConfiguration.sortOptions"
            [(selectedOption)]="sortConfiguration.selectedOption"
            [(direction)]="sortConfiguration.direction"
            (onChange)="updateSort()"
    ></wu-sort>
</div>
