<div class="container-fluid">
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <wu-dropdown-filter
                        [filterableAttributes]="filterConfiguration.filterableAttributes"
                        [filterOptions]="filterConfiguration.filterOptions"
                        [(selectedAttribute)]="filterConfiguration.selectedAttribute"
                        (setFilter)="addFilter($event)"
                        (selectedAttributeChange)="updateFilters()"
                >
                </wu-dropdown-filter>
                <div class="form-group">
                    <wu-sort
                        [sortOptions]="sortConfiguration.sortOptions"
                        [(selectedOption)]="sortConfiguration.selectedOption"
                        [(direction)]="sortConfiguration.direction"
                        (onChange)="updateSort()"
                    ></wu-sort>
                </div>
            </form>
            <wu-active-filters-list *ngIf="isFilterActive()"
                    [(activeFilters)]="filterConfiguration.selectedFilters"
                    [countResults]="filterConfiguration.countFilteredItems"
                    [getLabel]="filterConfiguration.getLabel"
                    (activeFiltersChange)="updateFilters()"
            ></wu-active-filters-list>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
