/**
 * Styles for reports with tables
 * - Migration issues
 * - Technologies
 */

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  padding-top: 15px;
}

.search-and-create {
  display: flex;
  flex-direction: row;
}

:host /deep/ {
  .panel-primary.wu-data-table { border-color: #e7e7e7; }
  .panel-primary.wu-data-table .panel-heading { background-color: white; padding: 15px 15px; border-bottom: 2px solid #e7e7e7; }
  .panel-primary.wu-data-table .panel-heading .panel-title { color: black; font-size: 20px; font-weight: 500; }

  .search-and-create .search-component {
    padding-top: 20px;
  }
}
