.nav-pf-vertical {
    width: 240px;
}

.nav-pf-vertical .list-group-item > a {
    width: 240px;
}

.form-errors {
    margin-bottom: 10px;
}

.layout-pf.layout-pf-fixed body {
    padding-top: unset;
}

.container-fluid {
    padding-top: 60px;
}

.wizard-content .container-fluid {
    padding-top: 0px;
}

table.datatable, table.dataTable {
    height: unset;
}

.pointer {
    cursor: pointer;
}


.page-header-no-border {
    border: 0 none;
    margin-bottom: 0;
}
.page-header h1 {
    margin: 15px;
}
.page-header h1 span.slash {
    color: #555;
}
.page-header h1 {
    padding-left: 12pt;
}
.page-header h1 div.main {
    border-bottom: 1px solid #add8e6;
    color: #005387;
    margin: 0 6em 0.5ex 0;
    width: auto;
}

.page-header div.desc, div.tooltipLikeMessage {
    background: beige none repeat scroll 0 0;
    border: 1px solid #888;
    color: black;
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    padding: 1ex 1em;
}
.page-header div.desc {
    margin: 0 15px 15px 30px;
}
div.tooltipLikeMessage {
    margin: 15px 0 0;
}
.page-header div.desc::before, div.tooltipLikeMessage::before {
    color: gray;
    content: "î‚…";
    cursor: help;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding: 0.3ex 0.3em;
    position: relative;
    top: 1px;
    vertical-align: top;
}

.windupPieGraph div.legend td.legendLabel {
    padding-left: 0.6ex;
}

.clickable {
    cursor: pointer;
}

.label-info {
    background-color: #696969;
}

.label-danger {
    background-color: #f04124;
}

.welcome-help-text {
    padding-top: 15px;
}

th {
    font-size: 12px;
}

td {
    font-size: 12px;
}

.external-link::before {
    content: '\F2D2';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    padding-right: 3px;
}

.container-fluid .wu-frame {
    background: #e8e8e8;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 2px !important;

    padding-top: 0; /* override */
}

form .wizard-form {
    padding-left: 10px;
    padding-right: 10px;
}

label.required:before {
    content: '*';
    position: relative;
    left: -2ex;
    float: left;
    width: 0;
}

.btn {
    text-transform: capitalize;
}

fieldset.fields-section-pf {
    border-color: #adaaaa;
}

.form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.wu-horizontal-nav-content {
/*    margin-top: 122px; */
    padding-top: 122px;
    margin-top: 0;
}

/*
.wu-horizontal-nav-content.container-fluid, .wu-horizontal-nav-content .container-fluid {
    padding-top: inherit;
}
*/
@media (max-width: 767px) {
    .wu-horizontal-nav-content, .layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
        margin-left: 0;
        margin-top: initial;
    }

    .container-fluid {
        padding-top: initial;
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    .nav-pf-vertical .list-group-item > a {
        width: 240px;
    }

    .wu-horizontal-nav-content, .layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
        margin-left: 240px;
    }
}

@media (min-width: 1599px) {
    .wu-horizontal-nav-content, .layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
        margin-left: 240px;
    }
}

/* Pushes notifications area a bit down from the horizontal navigation bar. */
.notifications-row {
    padding-top: 24px;
}

.alert {
    margin-top: 20px;
    margin-bottom: 0px;
}

/* Angular material*/
.mat-checkbox > label {
    margin-bottom: 0 !important;
    font-weight: 400 !important;
}

.mat-checkbox-label, .mat-tree-node {
    font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;
    line-height: 1.66666667 !important;
    color: #363636 !important;
}

.mat-tree-node {
    min-height: 24px !important;
}

.mat-icon-button {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.mat-tree > .mat-tree-node:first-child {
    margin-top: 10px !important;
}

.mat-checkbox-background {
    height: 12px !important;
    width: 12px !important;
    top: 2px !important;
    left: 2px !important;
}

/* Checkbox background color*/
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #dddddd !important;
}

.mat-checkbox-inner-container {
    background: #dddddd;
}

/** Checkbox check animation */
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #bbbbbb !important;
}

/* Checkbox check color*/
.mat-checkbox-checkmark-path {
    stroke: #292e34 !important;
    stroke-width: 4.13333px !important;
}

/* Undeterminate checkbox color*/
.mat-checkbox-mixedmark {
    background-color: #292e34 !important;
}

/* Checkbox border color */
.mat-checkbox-frame {
    border-color: rgb(166, 166, 166) !important;
    border-width: 1px !important;
}

/* For empty folders*/
.mat-checkbox-inner-container-no-side-margin {
    margin-right: 8px !important;
}