.form-errors {
    margin-bottom: 10px;
}

.layout-pf.layout-pf-fixed body {
    padding-top: unset;
}

.container-fluid {
    padding-top: 60px;
}

table.datatable, table.dataTable {
    height: unset;
}

.pointer {
    cursor: pointer;
}


.page-header-no-border {
    border: 0 none;
    margin-bottom: 0;
}
.page-header h1 {
    margin: 15px;
}
.page-header h1 span.slash {
    color: #555;
}
.page-header h1 {
    padding-left: 12pt;
}
.page-header h1 div.main {
    border-bottom: 1px solid #add8e6;
    color: #005387;
    margin: 0 6em 0.5ex 0;
    width: auto;
}

.page-header div.desc, div.tooltipLikeMessage {
    background: beige none repeat scroll 0 0;
    border: 1px solid #888;
    color: black;
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    padding: 1ex 1em;
}
.page-header div.desc {
    margin: 0 15px 15px 30px;
}
div.tooltipLikeMessage {
    margin: 15px 0 0;
}
.page-header div.desc::before, div.tooltipLikeMessage::before {
    color: gray;
    content: "î‚…";
    cursor: help;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding: 0.3ex 0.3em;
    position: relative;
    top: 1px;
    vertical-align: top;
}

.chartBoundary h4 {
    border-bottom: 1px solid #008cba;
    margin-right: 10%;
}

.windupPieGraph div.legend td.legendLabel {
    padding-left: 0.6ex;
}

.clickable {
    cursor: pointer;
}

.label {
    border-radius: 4px;
    display: block;
    float: left;
    font-weight: bold;
    margin: 2px;
    padding: 4px;
}

.label-info {
    background-color: #696969;
}

.label-danger {
    background-color: #f04124;
}

.welcome-help-text {
    padding-top: 15px;
}

th {
    font-size: 12px;
}

td {
    font-size: 12px;
}

.external-link::before {
    content: '\F2D2';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    padding-right: 3px;
}

.container-fluid .wu-frame {
    background: #e8e8e8;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 2px !important;

    padding-top: 0; /* override */
}

form .wizard-form {
    padding-left: 10px;
    padding-right: 10px;
}

label.required {
}
label.required:before {
    content: '*';
    position: relative;
    left: -2ex;
    float: left;
    width: 0;
}

fieldset.fields-section-pf {
    border-color: #adaaaa;
}

.form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.wu-horizontal-nav-content {
    margin-top: 122px;
}

.wu-horizontal-nav-content.container-fluid, .wu-horizontal-nav-content .container-fluid {
    padding-top: inherit;
}
